/**
 * SPDX-FileCopyrightText: 2019 (c) Carl Schwan <carl@carlschwan.eu>
 * SPDX-FileCopyrightText: 2017 (c) Ken Vermette <vermette@gmail.com>
 *
 * SPDX-License-Identifier: GPL-3.0-or-later
 *
 * Used for kde.org/stuff/clipart.php
 */
main.container {
  section {
    padding: 0px;
  }

  article {
    & + article {
      border-top: solid 1px rgba(0, 0, 0, 0.1);
    }
  }

  p {
    margin: 0px;
    padding: 0px !important;
  }
}

article {
  padding: 10px 20px;

  small {
    display: block;
    width: 100%;
    margin-bottom: 20px;
    background-color: #e8f1f8;
    border: 1px solid #9cc4e0;
    color: #28618c;
    font-size: 80%;
    border-radius: 4px;
    padding: 10px;
    line-height: 150%;
  }

  h2 {
    display: block;
    width: 100% !important;
    padding: 10px 0px;
    text-align: left;
  }
}

#logos-current,
#logos-legacy,
#kabel-font,
#mascots {
  display: flex;
  flex-wrap: wrap;

  figure {
    width: 50%;
    box-sizing: border-box !important;
    display: block;
    margin: 0px;
    text-align: center;
    padding: 20px;
  }
}

#kabel-font,
#mascots {
  justify-content: center;
  align-items: center;
}

#mascots {
  img {
    border: none;
    padding: 0px;
    background: transparent;
  }

  figure {
    &.left {
      text-align: right;
      padding-right: 0px;
    }

    &.right {
      text-align: left;
    }
  }
}

figure {
  img {
    box-sizing: border-box !important;
    margin: 0px 0px 10px 0px !important;
  }
}

#logos-legacy {
  figure {
    width: 33%;
  }

  img {
    width: 64px;
    height: 64px;
  }
}

#kabel-font {
  figure {
    width: 60%;
  }
}

#logos-current,
#logos-legacy {
  figure {
    & > a::after {
      content: '';
      display: block;
    }
  }
}

#logos-current {
  img {
    width: 128px;
    height: 128px;
  }
}
