<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.1/bluedevil-5.17.1.tar.xz">bluedevil-5.17.1</a></td>
   <td align="right">157kB</td>
   <td><tt>3baebc20877469f1205bb3c6368740acd0f76e70e45879a8c3764b7bd0f1259e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.1/breeze-5.17.1.tar.xz">breeze-5.17.1</a></td>
   <td align="right">15MB</td>
   <td><tt>79c717f34ccaad10e68c5de8b5363f0bee73986de3e06a4cd8b7902159761ce6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.1/breeze-grub-5.17.1.tar.xz">breeze-grub-5.17.1</a></td>
   <td align="right">3.0MB</td>
   <td><tt>8de4d82ffc6c8cc1e2727130b7cfdce11cb762a686e6dc126d97c28f4678dd9e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.1/breeze-gtk-5.17.1.tar.xz">breeze-gtk-5.17.1</a></td>
   <td align="right">43kB</td>
   <td><tt>95f2173920bf7d36b408912c624d2a1ef64b7a10798cf3a4fdc2bd8f1e5def4d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.1/breeze-plymouth-5.17.1.tar.xz">breeze-plymouth-5.17.1</a></td>
   <td align="right">103kB</td>
   <td><tt>7be7ecee02c7b1e5179c9f27c0085ad7ca5d239371be3a59bc66ff1b49d1a3f2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.1/discover-5.17.1.tar.xz">discover-5.17.1</a></td>
   <td align="right">9.9MB</td>
   <td><tt>44459f1c658d8db7f416ca4eb3b2bc1853e40196756a4c59b763bc120b82c4f5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.1/drkonqi-5.17.1.tar.xz">drkonqi-5.17.1</a></td>
   <td align="right">722kB</td>
   <td><tt>58b3af934459b1dc218d8005741472441b6a58e6d8e873de2955851dea4b0531</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.1/kactivitymanagerd-5.17.1.tar.xz">kactivitymanagerd-5.17.1</a></td>
   <td align="right">84kB</td>
   <td><tt>2eac1a41622e6632c3a569f1b8d5043f6414611c4dbeba2521eabebebd8e50b3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.1/kde-cli-tools-5.17.1.tar.xz">kde-cli-tools-5.17.1</a></td>
   <td align="right">576kB</td>
   <td><tt>e24c91347b57f97b489cf444d79b3bb8703a9879c05f656b312f83b1291f67ae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.1/kdecoration-5.17.1.tar.xz">kdecoration-5.17.1</a></td>
   <td align="right">41kB</td>
   <td><tt>4f8f7d851b19e141e91eadb4ddbf2fef2d6496839a929349a1568d618bb0be39</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.1/kde-gtk-config-5.17.1.tar.xz">kde-gtk-config-5.17.1</a></td>
   <td align="right">151kB</td>
   <td><tt>1502cbd17d9bda1b956f6ce930cb6a5c3ae98c4f84e833f8f48db4155f83c8b0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.1/kdeplasma-addons-5.17.1.tar.xz">kdeplasma-addons-5.17.1</a></td>
   <td align="right">591kB</td>
   <td><tt>f1e7685c3efa5625d8f3e05477bb25f5c2c25fc1f045a4fbafcd04851e94b7f0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.1/kgamma5-5.17.1.tar.xz">kgamma5-5.17.1</a></td>
   <td align="right">78kB</td>
   <td><tt>42c70927d3ff0d224a13ba6f1e4b7ae47b9863fa9372e18a02dd653868de3ba8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.1/khotkeys-5.17.1.tar.xz">khotkeys-5.17.1</a></td>
   <td align="right">1.7MB</td>
   <td><tt>1d7bf7af83f9d33122de3fe33d831d0db5be30de2cab3a7ca3f8f086098b9f72</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.1/kinfocenter-5.17.1.tar.xz">kinfocenter-5.17.1</a></td>
   <td align="right">1.2MB</td>
   <td><tt>2bab780dfc5ef242e2b5decd3a213294323db5830d7afad09a5db011ce470a8e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.1/kmenuedit-5.17.1.tar.xz">kmenuedit-5.17.1</a></td>
   <td align="right">796kB</td>
   <td><tt>90bd4c403ee3ce21616f5016401a1851d8e7375a1e9cd6b04f0213ccce15eb76</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.1/kscreen-5.17.1.tar.xz">kscreen-5.17.1</a></td>
   <td align="right">97kB</td>
   <td><tt>859dbdd7e6ff8d1a68f2cc004ac2c9ac647cb0a2c71af8a56abeb260fb8a60ca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.1/kscreenlocker-5.17.1.tar.xz">kscreenlocker-5.17.1</a></td>
   <td align="right">120kB</td>
   <td><tt>56a0ed3284c3ce087d3230789bac5b02505e7ed9795fa37ce9934bc5090673e4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.1/ksshaskpass-5.17.1.tar.xz">ksshaskpass-5.17.1</a></td>
   <td align="right">20kB</td>
   <td><tt>ce003264a9a756924bf6c360fd20bf0f5f212f5469fc5d291de2269d10764f24</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.1/ksysguard-5.17.1.tar.xz">ksysguard-5.17.1</a></td>
   <td align="right">503kB</td>
   <td><tt>44bd28b6bdddd9208392334ed6bba4b17b42f70c65dfe7668aecab7c67111c9e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.1/kwallet-pam-5.17.1.tar.xz">kwallet-pam-5.17.1</a></td>
   <td align="right">19kB</td>
   <td><tt>f4a713e5b03d979678904476b0c5759f7c30dc8bf1d883bd8044e2755985c49f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.1/kwayland-integration-5.17.1.tar.xz">kwayland-integration-5.17.1</a></td>
   <td align="right">19kB</td>
   <td><tt>39aad4ef15bf960626a11be52b0056cbd945f53409275e668665ea6369f8ab90</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.1/kwin-5.17.1.tar.xz">kwin-5.17.1</a></td>
   <td align="right">5.9MB</td>
   <td><tt>9be622116d4a39b699f43e147a31872d1d8a80eda5b5426d7e4272d8cfacdcd5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.1/kwrited-5.17.1.tar.xz">kwrited-5.17.1</a></td>
   <td align="right">19kB</td>
   <td><tt>7434553cd7b60380c5960d0f6e8bf363f544d45ef7e1aed1b9b3c98bceeb1bf2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.1/libkscreen-5.17.1.tar.xz">libkscreen-5.17.1</a></td>
   <td align="right">81kB</td>
   <td><tt>299e8e2d8be71674666002d850383ec01bfc794fcb180811c2e2cd70a5574078</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.1/libksysguard-5.17.1.tar.xz">libksysguard-5.17.1</a></td>
   <td align="right">589kB</td>
   <td><tt>b0f9e057d4b1424c56958e0f2d1af9cd88081277d8785e616df6a55f19539f81</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.1/milou-5.17.1.tar.xz">milou-5.17.1</a></td>
   <td align="right">61kB</td>
   <td><tt>131b1b5e5718415018db0dff193343bd8cd3732dce941b2780f1bd3544fbde6a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.1/oxygen-5.17.1.tar.xz">oxygen-5.17.1</a></td>
   <td align="right">4.2MB</td>
   <td><tt>5271d6ccf0d876ac32bfb6928cf5d4d3c72b42e0973ef484a2fab379d3264ad0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.1/plasma-browser-integration-5.17.1.tar.xz">plasma-browser-integration-5.17.1</a></td>
   <td align="right">143kB</td>
   <td><tt>b44949dab234b3377ae9bc6a8fc8e77577a7859186343f89bd796f1bf07bc827</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.1/plasma-desktop-5.17.1.tar.xz">plasma-desktop-5.17.1</a></td>
   <td align="right">9.0MB</td>
   <td><tt>0bc6622f1d359f748b0d29e3ec69fed99f313258243b25344a729383abda6f8a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.1/plasma-integration-5.17.1.tar.xz">plasma-integration-5.17.1</a></td>
   <td align="right">55kB</td>
   <td><tt>05a1d8c3fd46caf9ffaa2195eb59ffe7586bc8294f33d8afcc7a3b6288fe6fbe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.1/plasma-nm-5.17.1.tar.xz">plasma-nm-5.17.1</a></td>
   <td align="right">793kB</td>
   <td><tt>32b5de845924636ba103dc2641be8ce8cbb7709f186ebae2d33df8f2017820ef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.1/plasma-pa-5.17.1.tar.xz">plasma-pa-5.17.1</a></td>
   <td align="right">101kB</td>
   <td><tt>f9f4544bee4a2e2bd4197b019b5c6ffb969bbdd27afe3e1ef02b681e9a0ed769</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.1/plasma-sdk-5.17.1.tar.xz">plasma-sdk-5.17.1</a></td>
   <td align="right">253kB</td>
   <td><tt>28f2ecd9cc495d466cb0e027793df8aab63a84b979646115bcd257d66075acbb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.1/plasma-tests-5.17.1.tar.xz">plasma-tests-5.17.1</a></td>
   <td align="right">1kB</td>
   <td><tt>7e2809bd43618c923d7a3fa3e64d509f5997a737283751e5c5eeeaa1c6b80cce</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.1/plasma-thunderbolt-5.17.1.tar.xz">plasma-thunderbolt-5.17.1</a></td>
   <td align="right">46kB</td>
   <td><tt>ba28a14b0ac17e15e41484431054929d3aa237b78f66b3c8383219bb6e9a9e17</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.1/plasma-vault-5.17.1.tar.xz">plasma-vault-5.17.1</a></td>
   <td align="right">126kB</td>
   <td><tt>a71ef24566ae6a0d61e21dfb65aac11381ffaa340c16b47d2db887c4690ea71b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.1/plasma-workspace-5.17.1.tar.xz">plasma-workspace-5.17.1</a></td>
   <td align="right">4.7MB</td>
   <td><tt>21c69bca0b358073fb0b945e79727d65f104dda54c6cfd643719fdd603831616</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.1/plasma-workspace-wallpapers-5.17.1.tar.xz">plasma-workspace-wallpapers-5.17.1</a></td>
   <td align="right">32MB</td>
   <td><tt>a44582a816998b41de4800b52cd461ce09ef2c7ca5a9b65b02d489e78a241eab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.1/plymouth-kcm-5.17.1.tar.xz">plymouth-kcm-5.17.1</a></td>
   <td align="right">38kB</td>
   <td><tt>5e2164993ddd72c48c2eb1002e19093a858c4a4ffd3d9ace0563e50896d96860</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.1/polkit-kde-agent-1-5.17.1.tar.xz">polkit-kde-agent-1-5.17.1</a></td>
   <td align="right">42kB</td>
   <td><tt>629bf387adb01dca1701eab641ac81b217ad8d1f07af687c3cd2bdb007e1888c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.1/powerdevil-5.17.1.tar.xz">powerdevil-5.17.1</a></td>
   <td align="right">579kB</td>
   <td><tt>8939331967e4df70aadf3d411deec3ab1ea0c820192fd893a72d8590ce98b3d7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.1/sddm-kcm-5.17.1.tar.xz">sddm-kcm-5.17.1</a></td>
   <td align="right">57kB</td>
   <td><tt>9151adc1111fe327078c80af64f0fef3145bed8b9721f9adc53815ab968f97fe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.1/systemsettings-5.17.1.tar.xz">systemsettings-5.17.1</a></td>
   <td align="right">168kB</td>
   <td><tt>849ea4f09b0baae8987a082512d34c507a7c70ddbb706be762dced9a868e08bd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.1/user-manager-5.17.1.tar.xz">user-manager-5.17.1</a></td>
   <td align="right">2.0MB</td>
   <td><tt>80948463723365292b1c9a5442cde734172b75f9b918429da7f783a2c619e87a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.17.1/xdg-desktop-portal-kde-5.17.1.tar.xz">xdg-desktop-portal-kde-5.17.1</a></td>
   <td align="right">61kB</td>
   <td><tt>330358409c8efc964ecdd8e8a9fea8ce6bd70a1a0e81d228bcc2808331722608</tt></td>
</tr>

</table>
