    <table border="0" cellpadding="4" cellspacing="0">
      <tr valign="top">
        <th align="left">Location</th>

        <th align="left">Size</th>

        <th align="left">MD5&nbsp;Sum</th>
      </tr>

      <tr valign="top">
        <td><a href="http://download.kde.org/stable/3.1.2/src/arts-1.1.2.tar.bz2">arts-1.1.2</a></td>

        <td align="right">965KB</td>

        <td><tt>5d5a1858f8dcf0d88600291899dff75b</tt></td>
      </tr>

      <tr valign="top">
        <td><a href="http://download.kde.org/stable/3.1.2/src/kde-i18n-3.1.2.tar.bz2">kde-i18n-3.1.2</a></td>

        <td align="right">141MB</td>

        <td><tt>a08076a3526fee0ed5974fcf1e10a252</tt></td>
      </tr>

      <tr valign="top">
        <td><a href="http://download.kde.org/stable/3.1.2/src/kdeaddons-3.1.2.tar.bz2">kdeaddons-3.1.2</a></td>

        <td align="right">1.1MB</td>

        <td><tt>9a16c3df67c7096cc25e5d2acb557912</tt></td>
      </tr>

      <tr valign="top">
        <td><a href="http://download.kde.org/stable/3.1.2/src/kdeadmin-3.1.2.tar.bz2">kdeadmin-3.1.2</a></td>

        <td align="right">1.5MB</td>

        <td><tt>94c2981cd54bd02549664852fb82dd05</tt></td>
      </tr>

      <tr valign="top">
        <td><a href="http://download.kde.org/stable/3.1.2/src/kdeartwork-3.1.2.tar.bz2">kdeartwork-3.1.2</a></td>

        <td align="right">14MB</td>

        <td><tt>0ac7fda2acfa32ce26913ff864722e44</tt></td>
      </tr>

      <tr valign="top">
        <td><a href="http://download.kde.org/stable/3.1.2/src/kdebase-3.1.2.tar.bz2">kdebase-3.1.2</a></td>

        <td align="right">15MB</td>

        <td><tt>a90feb5273e9f524a2b19d9021ece7a6</tt></td>
      </tr>

      <tr valign="top">
        <td><a href="http://download.kde.org/stable/3.1.2/src/kdebindings-3.1.2.tar.bz2">kdebindings-3.1.2</a></td>

        <td align="right">5.9MB</td>

        <td><tt>da8e4fbee8c4dfdf466ed686984439c0</tt></td>
      </tr>

      <tr valign="top">
        <td><a href="http://download.kde.org/stable/3.1.2/src/kdeedu-3.1.2.tar.bz2">kdeedu-3.1.2</a></td>

        <td align="right">20MB</td>

        <td><tt>ba2a96454b7d2a7d92c991b08d932242</tt></td>
      </tr>

      <tr valign="top">
        <td><a href="http://download.kde.org/stable/3.1.2/src/kdegames-3.1.2.tar.bz2">kdegames-3.1.2</a></td>

        <td align="right">8.2MB</td>

        <td><tt>c8174c17dcf66def32653bae63886f22</tt></td>
      </tr>

      <tr valign="top">
        <td><a href="http://download.kde.org/stable/3.1.2/src/kdegraphics-3.1.2.tar.bz2">kdegraphics-3.1.2</a></td>

        <td align="right">4.4MB</td>

        <td><tt>05a791e5b685e35d3e05d23d2d467678</tt></td>
      </tr>

      <tr valign="top">
        <td><a href="http://download.kde.org/stable/3.1.2/src/kdelibs-3.1.2.tar.bz2">kdelibs-3.1.2</a></td>

        <td align="right">11MB</td>

        <td><tt>2b896ce9a6942e4cc4fe1758236bafa3</tt></td>
      </tr>

      <tr valign="top">
        <td><a href="http://download.kde.org/stable/3.1.2/src/kdemultimedia-3.1.2.tar.bz2">kdemultimedia-3.1.2</a></td>

        <td align="right">5.7MB</td>

        <td><tt>63ffa8b3c6b3151acdaaa22afd7e55ea</tt></td>
      </tr>

      <tr valign="top">
        <td><a href="http://download.kde.org/stable/3.1.2/src/kdenetwork-3.1.2.tar.bz2">kdenetwork-3.1.2</a></td>

        <td align="right">4.8MB</td>

        <td><tt>baf7663463d9e85a96d5c5143ef2b4be</tt></td>
      </tr>

      <tr valign="top">
        <td><a href="http://download.kde.org/stable/3.1.2/src/kdepim-3.1.2.tar.bz2">kdepim-3.1.2</a></td>

        <td align="right">3.2MB</td>

        <td><tt>37253cbba0fcf1201f6b24d3e8efa943</tt></td>
      </tr>

      <tr valign="top">
        <td><a href="http://download.kde.org/stable/3.1.2/src/kdesdk-3.1.2.tar.bz2">kdesdk-3.1.2</a></td>

        <td align="right">2.1MB</td>

        <td><tt>279b42135756e0e3640cf5f6612f572d</tt></td>
      </tr>

      <tr valign="top">
        <td><a href="http://download.kde.org/stable/3.1.2/src/kdetoys-3.1.2.tar.bz2">kdetoys-3.1.2</a></td>

        <td align="right">1.8MB</td>

        <td><tt>fa311c7b142f7b4b6a61bce463e851eb</tt></td>
      </tr>

      <tr valign="top">
        <td><a href="http://download.kde.org/stable/3.1.2/src/kdeutils-3.1.2.tar.bz2">kdeutils-3.1.2</a></td>

        <td align="right">1.4MB</td>

        <td><tt>49611a79b2d77cf6e9913ffb445fa209</tt></td>
      </tr>

      <tr valign="top">
        <td><a href="http://download.kde.org/stable/3.1.2/src/quanta-3.1.2.tar.bz2">quanta-3.1.2</a></td>

        <td align="right">2.8MB</td>

        <td><tt>f615ecd35f96db25b834ab8ffb4561c7</tt></td>
      </tr>
    </table>
