<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.2.0/baloo-5.6.0.tar.xz">baloo-5.6.0</a></td>
   <td align="right">136kB</td>
   <td><tt>2418194eabe140c432434fdad0224bcc9d735c22960df116ff8668e4e6b5c0df</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.2.0/bluedevil-5.2.0.tar.xz">bluedevil-5.2.0</a></td>
   <td align="right">96kB</td>
   <td><tt>d0be19745ce181d746fad38e451dd396ec5b9f3c9793fd837609db7425804305</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.2.0/breeze-5.2.0.tar.xz">breeze-5.2.0</a></td>
   <td align="right">26MB</td>
   <td><tt>704e9bef93747eb3d8b2f159e874ef48f037edb3359b0cd669627d0d6d4003e9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.2.0/kde-cli-tools-5.2.0.tar.xz">kde-cli-tools-5.2.0</a></td>
   <td align="right">464kB</td>
   <td><tt>b812932fdbb17c88326db33669a45fb8f719819e144205ac073d6037518e2353</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.2.0/kdecoration-5.2.0.tar.xz">kdecoration-5.2.0</a></td>
   <td align="right">32kB</td>
   <td><tt>a2549e56f1b5becf07785c7e11731501cb5ea7c30d5011865209838b550db18c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.2.0/kde-gtk-config-5.2.0.tar.xz">kde-gtk-config-5.2.0</a></td>
   <td align="right">135kB</td>
   <td><tt>712e1a3ff69059ddcc44eca2f7697c06d302bae276c7391ea9d23c5d56c64ebd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.2.0/kdeplasma-addons-5.2.0.tar.xz">kdeplasma-addons-5.2.0</a></td>
   <td align="right">1.9MB</td>
   <td><tt>7cfa7049d1a356d53c8c19a49b03af4a0ebbd745eef4cc17f0f1261d5ea20b99</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.2.0/kfilemetadata-5.6.0.tar.xz">kfilemetadata-5.6.0</a></td>
   <td align="right">110kB</td>
   <td><tt>96a4b5dc68f30ca1f5db773c431d1c1963fe1c6c95f54847e9cb60d10ca3e96d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.2.0/khelpcenter-5.2.0.tar.xz">khelpcenter-5.2.0</a></td>
   <td align="right">1.9MB</td>
   <td><tt>3a0396118077af3b1e3df4654540a1d8cc900a3eae656f65409737d9f712bfa8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.2.0/khotkeys-5.2.0.tar.xz">khotkeys-5.2.0</a></td>
   <td align="right">724kB</td>
   <td><tt>90cd4a8bf65be65329d78a68246a597a0c615877c3d993d30e587270de29e7a0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.2.0/kinfocenter-5.2.0.tar.xz">kinfocenter-5.2.0</a></td>
   <td align="right">1.0MB</td>
   <td><tt>89a976d2eb6aef02db02db82d645eacbf710f6e0c3ad9fdd932455c309a62e94</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.2.0/kio-extras-5.2.0.tar.xz">kio-extras-5.2.0</a></td>
   <td align="right">504kB</td>
   <td><tt>85efb1b54765b345d94d8d30a337241654aa1498d8e0a4682d76fdaecc85b8b0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.2.0/kmenuedit-5.2.0.tar.xz">kmenuedit-5.2.0</a></td>
   <td align="right">333kB</td>
   <td><tt>f91fac46c56f425397a41b2090f9680995096b3de0cb3e59aee67a2a086ce7e1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.2.0/kscreen-5.2.0.tar.xz">kscreen-5.2.0</a></td>
   <td align="right">78kB</td>
   <td><tt>a550985616cea384914e6d06752f642d52f2e859fa8551a11a29dafbf53ec725</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.2.0/ksshaskpass-5.2.0.tar.xz">ksshaskpass-5.2.0</a></td>
   <td align="right">15kB</td>
   <td><tt>7b2597fa8b5fa0a0ec08e006646a11dcdaa84cce0beca6dcef8d75fec2a2b29f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.2.0/ksysguard-5.2.0.tar.xz">ksysguard-5.2.0</a></td>
   <td align="right">428kB</td>
   <td><tt>a14eb280fc6dad54962db3a71e93c25b73f31e289e29e960ce4fbffee700a14d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.2.0/kwayland-5.2.0.tar.xz">kwayland-5.2.0</a></td>
   <td align="right">83kB</td>
   <td><tt>1e3fb615728db55f567eda2b7be455f3d74744887af466085f2f7130b51207f1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.2.0/kwin-5.2.0.tar.xz">kwin-5.2.0</a></td>
   <td align="right">3.5MB</td>
   <td><tt>389d38311dd56e06df332e01fb2d4717a35d2a0eb5e4db171940e4476937477b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.2.0/kwin-5.2.0.1.tar.xz">kwin-5.2.0.1</a> bugfix</td>
   <td align="right">3.5MB</td>
   <td><tt>aed82bd23376b44534a01b277cab3aed012c778540320814469b446719ccdf49</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.2.0/kwrited-5.2.0.tar.xz">kwrited-5.2.0</a></td>
   <td align="right">18kB</td>
   <td><tt>eb4b36d0f82bc6668ccee349ff70cf2743635a43efa68809c55338530fade165</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.2.0/libbluedevil-5.2.0.tar.xz">libbluedevil-5.2.0</a></td>
   <td align="right">187kB</td>
   <td><tt>09af625ccb72e68a900392bbad24fdbc7a6c2d846231638374de4fac929d0668</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.2.0/libkscreen-5.2.0.tar.xz">libkscreen-5.2.0</a></td>
   <td align="right">69kB</td>
   <td><tt>a3cc64e6b94fdee14fb19a1185007953b6701fbf1e8d5564c30e55b04ec4e5ec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.2.0/libksysguard-5.2.0.tar.xz">libksysguard-5.2.0</a></td>
   <td align="right">536kB</td>
   <td><tt>977f9baea4bfdc993382476bde9669a74b9491258127ef8bef57aaf641f2de49</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.2.0/libmm-qt-5.2.0.tar.xz">libmm-qt-5.2.0</a></td>
   <td align="right">74kB</td>
   <td><tt>dab0e9a3a82d4abb4686a1a900cab826091e1fa2c373db25ac42e3e1afded41d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.2.0/milou-5.2.0.tar.xz">milou-5.2.0</a></td>
   <td align="right">49kB</td>
   <td><tt>45890196e819f7488c1f146e685fcbf26ab298bb2a526e16ec2aae2f0238ed09</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.2.0/muon-5.2.0.tar.xz">muon-5.2.0</a></td>
   <td align="right">1.0MB</td>
   <td><tt>67318ae3c00a57a7f8656317d794f91970f17e840bff67336017cee24fcd6c97</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.2.0/oxygen-5.2.0.tar.xz">oxygen-5.2.0</a></td>
   <td align="right">4.2MB</td>
   <td><tt>5d816ce545debb63deb084a5bb2160bd9330874da1f347764a3e0c68462d4df1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.2.0/oxygen-fonts-5.2.0.tar.xz">oxygen-fonts-5.2.0</a></td>
   <td align="right">157kB</td>
   <td><tt>71d2d5781921829c0489ff4b3e1c0902ab40aa0ebb1e247dd55e59322df35080</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.2.0/plasma-desktop-5.2.0.tar.xz">plasma-desktop-5.2.0</a></td>
   <td align="right">5.2MB</td>
   <td><tt>e922c64a1d5e78d83006a45a74dd3656266301b3e5a8e00a9fe85ca4fa3c8d76</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.2.0/plasma-nm-5.2.0.tar.xz">plasma-nm-5.2.0</a></td>
   <td align="right">484kB</td>
   <td><tt>acb8a67df123e13b1fab6da2333fb1adc5e6ccd39a47183493c098873aae222f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.2.0/plasma-workspace-5.2.0.tar.xz">plasma-workspace-5.2.0</a></td>
   <td align="right">6.3MB</td>
   <td><tt>43eece34f9ca2a15dc01aa4163db7d97aea09daab6b337cf4062ec2a4e8891eb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.2.0/plasma-workspace-wallpapers-5.2.0.tar.xz">plasma-workspace-wallpapers-5.2.0</a></td>
   <td align="right">27MB</td>
   <td><tt>d583cb53693dc073d48bacf9b1dc05b71baf3112bb70af7c3756265f380065f5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.2.0/polkit-kde-agent-1-5.2.0.tar.xz">polkit-kde-agent-1-5.2.0</a></td>
   <td align="right">38kB</td>
   <td><tt>f818e67cb745b96587e911474103fc90694cb269be3703978067672aa3f86591</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.2.0/powerdevil-5.2.0.tar.xz">powerdevil-5.2.0</a></td>
   <td align="right">405kB</td>
   <td><tt>1a6a3e1732bb07c9f97409753fe7ef923b8c25eeaf903838c199bf4b6c0726d6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.2.0/sddm-kcm-5.2.0.tar.xz">sddm-kcm-5.2.0</a></td>
   <td align="right">40kB</td>
   <td><tt>26cd4babb2128f5d9634fba463aa8b3258622e310ed23ab818eaaecf1fc54437</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.2.0/systemsettings-5.2.0.tar.xz">systemsettings-5.2.0</a></td>
   <td align="right">132kB</td>
   <td><tt>c02375f6965b2c56c97aee58f70ca84e4ccb5e04c10a852bcb69c93981fd617a</tt></td>
</tr>

</table>
