<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.8.95/bluedevil-5.8.95.tar.xz">bluedevil-5.8.95</a></td>
   <td align="right">140kB</td>
   <td><tt>3d9efaf6986e084bf1e6ebe269e0c3ae7ebeb706aaf84dbd9e7f592ab79754a7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.8.95/breeze-5.8.95.tar.xz">breeze-5.8.95</a></td>
   <td align="right">29MB</td>
   <td><tt>beaf2e89e52b3cd550de18ce33bcb1af22f86666158bd8d69ceafe3073a05d82</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.8.95/breeze-grub-5.8.95.tar.xz">breeze-grub-5.8.95</a></td>
   <td align="right">2.9MB</td>
   <td><tt>345bfd0078787cad43a83256290de569b11dfaa9371f3a6c1c1c0b17c20aa0e3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.8.95/breeze-gtk-5.8.95.tar.xz">breeze-gtk-5.8.95</a></td>
   <td align="right">206kB</td>
   <td><tt>b1006aa27217668ab11ebe9c3cc6a2ddaf243054dc6b5fda5fd0d06ebc9978d6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.8.95/breeze-plymouth-5.8.95.tar.xz">breeze-plymouth-5.8.95</a></td>
   <td align="right">94kB</td>
   <td><tt>a01304e7a1aec13d18fe6b7b58dc290dbe216758c3bc2a8abc96ac78cd0d5e16</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.8.95/discover-5.8.95.tar.xz">discover-5.8.95</a></td>
   <td align="right">9.2MB</td>
   <td><tt>efb50310713072ae05d96ac4c5415ddc810d3dcdd1da283b791255e2c9dfea96</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.8.95/kactivitymanagerd-5.8.95.tar.xz">kactivitymanagerd-5.8.95</a></td>
   <td align="right">81kB</td>
   <td><tt>3e6f6c1bd5847e61b2f5f1e429dd6c920b97fb4dcfd83896ecdd398a6b82bb0f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.8.95/kde-cli-tools-5.8.95.tar.xz">kde-cli-tools-5.8.95</a></td>
   <td align="right">487kB</td>
   <td><tt>7fbd3bf00aaaceb0b1d5756063e52124a5bdf048b54595cd7c12d58304e6ea24</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.8.95/kdecoration-5.8.95.tar.xz">kdecoration-5.8.95</a></td>
   <td align="right">34kB</td>
   <td><tt>0540f70d73f283d53a2f8f95474bdbc2a1c8b04cd11d6df707297dbe0616f005</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.8.95/kde-gtk-config-5.8.95.tar.xz">kde-gtk-config-5.8.95</a></td>
   <td align="right">147kB</td>
   <td><tt>c5326ae1a28afefac15de3cd31bba5c2fa8d43a6932c6611b504d7b0e6ab39b3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.8.95/kdeplasma-addons-5.8.95.tar.xz">kdeplasma-addons-5.8.95</a></td>
   <td align="right">1.9MB</td>
   <td><tt>25dec738eab3afcac2b7a030dc2221ecbb1360f7a0c3397233d515ac13d09add</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.8.95/kgamma5-5.8.95.tar.xz">kgamma5-5.8.95</a></td>
   <td align="right">58kB</td>
   <td><tt>91fef25d49d7cb228da109eaab483b28b1b3824f0af6498d0c6455cedc82a71c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.8.95/khotkeys-5.8.95.tar.xz">khotkeys-5.8.95</a></td>
   <td align="right">591kB</td>
   <td><tt>2ac1fe180405fa78699e3a4df46a5cd66cc315e533295447e0c57c8150271cff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.8.95/kinfocenter-5.8.95.tar.xz">kinfocenter-5.8.95</a></td>
   <td align="right">1.2MB</td>
   <td><tt>9ca6cff36e21499fe090f9f25e73a4f30520e24bcf3c88f88063fb15d02604f1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.8.95/kmenuedit-5.8.95.tar.xz">kmenuedit-5.8.95</a></td>
   <td align="right">637kB</td>
   <td><tt>58c3f995c1eec24e892e48003bd3040e00ca4a537cf95e68bb8e4004793d7ad2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.8.95/kscreen-5.8.95.tar.xz">kscreen-5.8.95</a></td>
   <td align="right">110kB</td>
   <td><tt>c1c51615a8ec73c9fe022f71f2ee22239febd00a592943b21b1af41179887093</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.8.95/kscreenlocker-5.8.95.tar.xz">kscreenlocker-5.8.95</a></td>
   <td align="right">105kB</td>
   <td><tt>1336f0e448c4c17e750673a66c9d540fa9a9318b44689249a62730d455fa4d73</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.8.95/ksshaskpass-5.8.95.tar.xz">ksshaskpass-5.8.95</a></td>
   <td align="right">18kB</td>
   <td><tt>13247e283a1f670c4d65cc66f081bf81c38752e47622c7518dc40908f0286f95</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.8.95/ksysguard-5.8.95.tar.xz">ksysguard-5.8.95</a></td>
   <td align="right">476kB</td>
   <td><tt>0ea12ab74d4bbabdfa22893d09c41c5fb96a98f13d8be7934220daf6a3f42235</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.8.95/kwallet-pam-5.8.95.tar.xz">kwallet-pam-5.8.95</a></td>
   <td align="right">17kB</td>
   <td><tt>e54c1d4a5f447e33c354651054de281939bd0540585516f12c67dea914efed30</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.8.95/kwayland-integration-5.8.95.tar.xz">kwayland-integration-5.8.95</a></td>
   <td align="right">17kB</td>
   <td><tt>f515374eaffbd494d5b534499f17bb0822f0017a0565b88aa7a67bdb4210c343</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.8.95/kwin-5.8.95.tar.xz">kwin-5.8.95</a></td>
   <td align="right">4.4MB</td>
   <td><tt>c8bc94297127ff12280a7c556d8319e900a5206182bdc5256d12459002549564</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.8.95/kwrited-5.8.95.tar.xz">kwrited-5.8.95</a></td>
   <td align="right">19kB</td>
   <td><tt>e266ddd0235534ccb7339f4a6520ed4a2cdd396e66e471f912877816fc723c5f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.8.95/libkscreen-5.8.95.tar.xz">libkscreen-5.8.95</a></td>
   <td align="right">91kB</td>
   <td><tt>f7f8e49eb60b89535194f7c63f9494045d90fa600d36ca5daef351d31e7582ec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.8.95/libksysguard-5.8.95.tar.xz">libksysguard-5.8.95</a></td>
   <td align="right">561kB</td>
   <td><tt>27095a9cea134de33153fe58eb1807236527da656005923cf3977562db483028</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.8.95/milou-5.8.95.tar.xz">milou-5.8.95</a></td>
   <td align="right">53kB</td>
   <td><tt>494e74844c54878f6c5bd984bee82245c47fab2d2375fae0c1e8f65700ef5a12</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.8.95/oxygen-5.8.95.tar.xz">oxygen-5.8.95</a></td>
   <td align="right">4.2MB</td>
   <td><tt>889bc584591a1c900eed2182b530bf069cc7c400979a284bf7a20b628f18a825</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.8.95/plasma-desktop-5.8.95.tar.xz">plasma-desktop-5.8.95</a></td>
   <td align="right">5.7MB</td>
   <td><tt>441633bd967e344c1d08878f3e233d6cf09a23d723a603f32cb1ee3e1584f443</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.8.95/plasma-integration-5.8.95.tar.xz">plasma-integration-5.8.95</a></td>
   <td align="right">48kB</td>
   <td><tt>f85db986443b8e8881cc148ed9bc6e8f08164473afc7817392f39ffbe62c5d0e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.8.95/plasma-nm-5.8.95.tar.xz">plasma-nm-5.8.95</a></td>
   <td align="right">650kB</td>
   <td><tt>29016d7c385a68f1078b0065a1e96a08ea505a0e76601b1a38bd34cce9779946</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.8.95/plasma-pa-5.8.95.tar.xz">plasma-pa-5.8.95</a></td>
   <td align="right">68kB</td>
   <td><tt>f451f4775cbf8c41ead0a4e1e038da41032e172c6655906b02d0655fb8a4c380</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.8.95/plasma-sdk-5.8.95.tar.xz">plasma-sdk-5.8.95</a></td>
   <td align="right">704kB</td>
   <td><tt>6315574044a85361ab702303ff225094a6f08ea1c49326d576825430879ea44f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.8.95/plasma-tests-5.8.95.tar.xz">plasma-tests-5.8.95</a></td>
   <td align="right">1kB</td>
   <td><tt>241c5afafb416af57b8f1d54cb6a9d5e4d4c06ea2a26a2ebab86c8dd6022b792</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.8.95/plasma-workspace-5.8.95.1.tar.xz">plasma-workspace-5.8.95.1</a></td>
   <td align="right">6.6MB</td>
   <td><tt>c42f9e353f3a90e632452f38afb653e0c9c485974542347ff9d10b0c85d45a58</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.8.95/plasma-workspace-wallpapers-5.8.95.tar.xz">plasma-workspace-wallpapers-5.8.95</a></td>
   <td align="right">43MB</td>
   <td><tt>8ca7ba1737d482b2a9fcc7de71a1241ae55826c4e142820c81c0433a3ea967f6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.8.95/polkit-kde-agent-1-5.8.95.tar.xz">polkit-kde-agent-1-5.8.95</a></td>
   <td align="right">40kB</td>
   <td><tt>fb79c6ac37bf8347ba0deb8ff0fbb4cb5a962923adc21612903f2760a6df791d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.8.95/powerdevil-5.8.95.tar.xz">powerdevil-5.8.95</a></td>
   <td align="right">349kB</td>
   <td><tt>65ff645c0e33bc3e48cdffca266be95a27df9df6aa1fd6ddc6270c78b2e1ac5e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.8.95/sddm-kcm-5.8.95.tar.xz">sddm-kcm-5.8.95</a></td>
   <td align="right">53kB</td>
   <td><tt>c982ea84c619f4e10c360f3993f08841d4282b69d21392bcd3801c83826365b7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.8.95/systemsettings-5.8.95.tar.xz">systemsettings-5.8.95</a></td>
   <td align="right">154kB</td>
   <td><tt>491f0c131725a7c0b013b910ee7cb9a6bd43dfb4955516ed445e6305105922eb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.8.95/user-manager-5.8.95.tar.xz">user-manager-5.8.95</a></td>
   <td align="right">530kB</td>
   <td><tt>332fc881892e589fabf959f952d0db10dab3445bec404bab1d4b6141e0eab6a5</tt></td>
</tr>

</table>
