<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/akonadi-15.07.80.tar.xz">akonadi-15.07.80</a></td>
   <td align="right">271kB</td>
   <td><tt>ce192bf269d1ee338e04f594e3a52d0a3db4d61f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/akonadi-calendar-15.07.80.tar.xz">akonadi-calendar-15.07.80</a></td>
   <td align="right">104kB</td>
   <td><tt>191d725a46f796ef003a76afd4e1172e4a29d2a1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/akonadi-search-15.07.80.tar.xz">akonadi-search-15.07.80</a></td>
   <td align="right">49kB</td>
   <td><tt>22cb7134def103cfd5fb29264ecf56ccd4e976f6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/amor-15.07.80.tar.xz">amor-15.07.80</a></td>
   <td align="right">171kB</td>
   <td><tt>2b8059700e7821f000fbb0f4ec31691a652f06ca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/analitza-15.07.80.tar.xz">analitza-15.07.80</a></td>
   <td align="right">222kB</td>
   <td><tt>3f907243ad9a2281c7565f02a0adff78cfd94120</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/ark-15.07.80.tar.xz">ark-15.07.80</a></td>
   <td align="right">217kB</td>
   <td><tt>113e2e85326cda3b2573ae34f927c0caf9454f50</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/artikulate-15.07.80.tar.xz">artikulate-15.07.80</a></td>
   <td align="right">3.6MB</td>
   <td><tt>c8bfa1fc46592c4ce1ce3b20cea06d654651fe99</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/audiocd-kio-15.07.80.tar.xz">audiocd-kio-15.07.80</a></td>
   <td align="right">50kB</td>
   <td><tt>0ac80755cf53a6743494812eac142c515b215a00</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/baloo-widgets-15.07.80.tar.xz">baloo-widgets-15.07.80</a></td>
   <td align="right">55kB</td>
   <td><tt>deebbdb3fa6eda39ae9373664e2e3c6a5ed73018</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/blinken-15.07.80.tar.xz">blinken-15.07.80</a></td>
   <td align="right">553kB</td>
   <td><tt>5c8d06739fbfb5bfc3c6173de70f0e084b8ece33</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/bomber-15.07.80.tar.xz">bomber-15.07.80</a></td>
   <td align="right">384kB</td>
   <td><tt>7727bfea95fb80d9ec40a801719190751e8108e1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/bovo-15.07.80.tar.xz">bovo-15.07.80</a></td>
   <td align="right">102kB</td>
   <td><tt>a8902933aea2c1341b07b69030bfbdd0ef4cbec5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/cantor-15.07.80.tar.xz">cantor-15.07.80</a></td>
   <td align="right">348kB</td>
   <td><tt>4454de83a7542efecc009aa6b16d09d008bf86cc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/cervisia-15.07.80.tar.xz">cervisia-15.07.80</a></td>
   <td align="right">364kB</td>
   <td><tt>637d26ae32f7c70d28f9794b3f97ebc97654409c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/dolphin-15.07.80.tar.xz">dolphin-15.07.80</a></td>
   <td align="right">641kB</td>
   <td><tt>3f895eb8f289aaeb7b40c3f2798b54dd18462b4a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/dolphin-plugins-15.07.80.tar.xz">dolphin-plugins-15.07.80</a></td>
   <td align="right">57kB</td>
   <td><tt>54b63604ee63ad73793614dca07936703841b348</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/dragon-15.07.80.tar.xz">dragon-15.07.80</a></td>
   <td align="right">393kB</td>
   <td><tt>3fb560f835bddf56e8644f6a4b338ded7ffc1ee5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/ffmpegthumbs-15.07.80.tar.xz">ffmpegthumbs-15.07.80</a></td>
   <td align="right">19kB</td>
   <td><tt>300972c4dd3a5032842d5636091934d7aba3e5ee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/filelight-15.07.80.tar.xz">filelight-15.07.80</a></td>
   <td align="right">280kB</td>
   <td><tt>e34f25c4b176776070a85c1ce5ed1958648536c0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/gpgmepp-15.07.80.tar.xz">gpgmepp-15.07.80</a></td>
   <td align="right">58kB</td>
   <td><tt>07aa1722a3e12fcca951ce0a226c4106fde0f806</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/granatier-15.07.80.tar.xz">granatier-15.07.80</a></td>
   <td align="right">1.3MB</td>
   <td><tt>e7a109ca421835df1edd7cce7263178569b3ae7e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/gwenview-15.07.80.tar.xz">gwenview-15.07.80</a></td>
   <td align="right">2.7MB</td>
   <td><tt>dcf9f547ee80af5275a6d9c678c90182f324e071</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/jovie-15.07.80.tar.xz">jovie-15.07.80</a></td>
   <td align="right">382kB</td>
   <td><tt>83c0beae319d7cf7ba6d3c673798073093eb2481</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/juk-15.07.80.tar.xz">juk-15.07.80</a></td>
   <td align="right">434kB</td>
   <td><tt>47bd7cee0aa7817ab585110a5a81ea5e10639f1d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/kaccessible-15.07.80.tar.xz">kaccessible-15.07.80</a></td>
   <td align="right">20kB</td>
   <td><tt>59f2d19a523f37c643c6bed451f27d2ea57ffb4c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/kaccounts-integration-15.07.80.tar.xz">kaccounts-integration-15.07.80</a></td>
   <td align="right">58kB</td>
   <td><tt>e73aaaaa4cbec8f6783375f3fac713adadd6932b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/kaccounts-providers-15.07.80.tar.xz">kaccounts-providers-15.07.80</a></td>
   <td align="right">11kB</td>
   <td><tt>3754af1f6c0a073b377e1ba5cf65613602a097a4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/kajongg-15.07.80.tar.xz">kajongg-15.07.80</a></td>
   <td align="right">2.3MB</td>
   <td><tt>9af4f381f75099282b6a24466a77f58de7dbf0e5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/kalarmcal-15.07.80.tar.xz">kalarmcal-15.07.80</a></td>
   <td align="right">77kB</td>
   <td><tt>8a092c7b5840f893e189e2270366de11f6402b56</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/kalgebra-15.07.80.tar.xz">kalgebra-15.07.80</a></td>
   <td align="right">263kB</td>
   <td><tt>76bb8f2e7dba5687521ba77582e30a3f87098924</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/kalzium-15.07.80.tar.xz">kalzium-15.07.80</a></td>
   <td align="right">3.7MB</td>
   <td><tt>211b7f26c3e598b4856a484e7d3987812f519888</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/kamera-15.07.80.tar.xz">kamera-15.07.80</a></td>
   <td align="right">34kB</td>
   <td><tt>66c85f93e644959ed8612a4565efa0b38908b051</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/kanagram-15.07.80.tar.xz">kanagram-15.07.80</a></td>
   <td align="right">4.5MB</td>
   <td><tt>dd03192eae44ff8704204fb628d01daf43d5e429</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/kapman-15.07.80.tar.xz">kapman-15.07.80</a></td>
   <td align="right">1.7MB</td>
   <td><tt>2e5cd17c83ebc4e61d066a6b1389aacad5013e92</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/kapptemplate-15.07.80.tar.xz">kapptemplate-15.07.80</a></td>
   <td align="right">689kB</td>
   <td><tt>df7be643620c451c080c6babc19405052ca81f0d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/kate-15.07.80.tar.xz">kate-15.07.80</a></td>
   <td align="right">1.6MB</td>
   <td><tt>4ac36fd53220b1c08829dd48e005df2ba46b32e5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/katomic-15.07.80.tar.xz">katomic-15.07.80</a></td>
   <td align="right">646kB</td>
   <td><tt>e9bbbb1131e81a19cec9a1175af78167c0a536bd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/kblackbox-15.07.80.tar.xz">kblackbox-15.07.80</a></td>
   <td align="right">255kB</td>
   <td><tt>7cb4b44c2443d3b86676fa026ae4dd9e2406182e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/kblocks-15.07.80.tar.xz">kblocks-15.07.80</a></td>
   <td align="right">1.1MB</td>
   <td><tt>2dcb1c4a16c70930fd515af9cd40d4f0b7550892</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/kblog-15.07.80.tar.xz">kblog-15.07.80</a></td>
   <td align="right">34kB</td>
   <td><tt>9501f09308f427025f65df44b64227293e37f349</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/kbounce-15.07.80.tar.xz">kbounce-15.07.80</a></td>
   <td align="right">1.5MB</td>
   <td><tt>b1be81a085ef52be5dd377c1c973f360f4ee2c3c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/kbreakout-15.07.80.tar.xz">kbreakout-15.07.80</a></td>
   <td align="right">1.3MB</td>
   <td><tt>8ab43e845fccb6b5574111375d74cbffa441553b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/kbruch-15.07.80.tar.xz">kbruch-15.07.80</a></td>
   <td align="right">883kB</td>
   <td><tt>f9da3048e01dfc4ab4e11ed17f2249836ba411f2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/kcachegrind-15.07.80.tar.xz">kcachegrind-15.07.80</a></td>
   <td align="right">232kB</td>
   <td><tt>73d4a5d252f4bf06f446b23a566e7bba3e62f983</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/kcalc-15.07.80.tar.xz">kcalc-15.07.80</a></td>
   <td align="right">81kB</td>
   <td><tt>9a483a8f8531e27aca3b55c7c25efe92e1070efd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/kcalcore-15.07.80.tar.xz">kcalcore-15.07.80</a></td>
   <td align="right">287kB</td>
   <td><tt>9cd760f0ca47fd8dc8496fc3c422d289ce089290</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/kcalutils-15.07.80.tar.xz">kcalutils-15.07.80</a></td>
   <td align="right">53kB</td>
   <td><tt>3179844d060b26693bc8d49e3900bba1613a3b02</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/kcharselect-15.07.80.tar.xz">kcharselect-15.07.80</a></td>
   <td align="right">82kB</td>
   <td><tt>9e911300724b17f9be60ba64f7fd4a39ff72146f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/kcolorchooser-15.07.80.tar.xz">kcolorchooser-15.07.80</a></td>
   <td align="right">4kB</td>
   <td><tt>bc37016dfc1ca29c0630082bf0e7c5ca1abecc29</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/kcontacts-15.07.80.tar.xz">kcontacts-15.07.80</a></td>
   <td align="right">131kB</td>
   <td><tt>dee91352056fd3688ec5078fda60e0459365d112</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/kcron-15.07.80.tar.xz">kcron-15.07.80</a></td>
   <td align="right">136kB</td>
   <td><tt>04586f5fd45e1263d07175269d7196b3e1779144</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/kdeartwork-15.07.80.tar.xz">kdeartwork-15.07.80</a></td>
   <td align="right">134MB</td>
   <td><tt>eafbf9b0efdbb58545ebcddafe25ea1d947a0107</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/kde-baseapps-15.07.80.tar.xz">kde-baseapps-15.07.80</a></td>
   <td align="right">1.7MB</td>
   <td><tt>0905c813ee40451aeed25b4d2582b621b7e4aadf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/kde-base-artwork-15.07.80.tar.xz">kde-base-artwork-15.07.80</a></td>
   <td align="right">7.0MB</td>
   <td><tt>94611f0218f84709d57dfa69eae949ac059cd110</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/kdebugsettings-15.07.80.tar.xz">kdebugsettings-15.07.80</a></td>
   <td align="right">19kB</td>
   <td><tt>7978b2ba337062d740483fe6fd66611e1c27cc10</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/kde-dev-scripts-15.07.80.tar.xz">kde-dev-scripts-15.07.80</a></td>
   <td align="right">299kB</td>
   <td><tt>bfdb9b33388b0437f664b57a79fc1ad55239a031</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/kde-dev-utils-15.07.80.tar.xz">kde-dev-utils-15.07.80</a></td>
   <td align="right">50kB</td>
   <td><tt>0f0c9d7659774e3f87e7e6f5e3b221cc3691e2de</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/kdeedu-data-15.07.80.tar.xz">kdeedu-data-15.07.80</a></td>
   <td align="right">94kB</td>
   <td><tt>6fbb7e4799cab229b207fadf63908e08f37d0bbd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/kdegraphics-mobipocket-15.07.80.tar.xz">kdegraphics-mobipocket-15.07.80</a></td>
   <td align="right">14kB</td>
   <td><tt>a29906d88c60b565d4148d5fdc9717e122593207</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/kdegraphics-strigi-analyzer-15.07.80.tar.xz">kdegraphics-strigi-analyzer-15.07.80</a></td>
   <td align="right">39kB</td>
   <td><tt>bcf9fd7b827ae7e113403f05fe658c3f0da7e943</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/kdegraphics-thumbnailers-15.07.80.tar.xz">kdegraphics-thumbnailers-15.07.80</a></td>
   <td align="right">40kB</td>
   <td><tt>87d285f33accd0438876fcfee4d09d60a76d13a2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/kdenetwork-filesharing-15.07.80.tar.xz">kdenetwork-filesharing-15.07.80</a></td>
   <td align="right">26kB</td>
   <td><tt>f463a97fa209c024ecf336599c3378ea77f448d6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/kdenetwork-strigi-analyzers-15.07.80.tar.xz">kdenetwork-strigi-analyzers-15.07.80</a></td>
   <td align="right">14kB</td>
   <td><tt>4758190a2bce6f23bdf7c61346318a3552f50610</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/kdenlive-15.07.80.tar.xz">kdenlive-15.07.80</a></td>
   <td align="right">3.0MB</td>
   <td><tt>eb3638fe43518c1ef256764a9ee5d3b092ba7e27</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/kdepim-15.07.80.tar.xz">kdepim-15.07.80</a></td>
   <td align="right">8.6MB</td>
   <td><tt>d89a896e0782c817612f71163da41cbfedda9ed9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/kdepimlibs-15.07.80.tar.xz">kdepimlibs-15.07.80</a></td>
   <td align="right">991kB</td>
   <td><tt>a989ddf15940a672bcf17a0319637f259fd6f6a8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/kdepim-runtime-15.07.80.tar.xz">kdepim-runtime-15.07.80</a></td>
   <td align="right">693kB</td>
   <td><tt>5d933fc1542dc030594270c643677338045333be</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/kde-runtime-15.07.80.tar.xz">kde-runtime-15.07.80</a></td>
   <td align="right">7.5MB</td>
   <td><tt>db8f04b047ece8afbf78ea697e9eac8a4892ccb2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/kdesdk-kioslaves-15.07.80.tar.xz">kdesdk-kioslaves-15.07.80</a></td>
   <td align="right">353kB</td>
   <td><tt>f9c51736ac5b1ff6ba8afe6182b4c50d8db09813</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/kdesdk-strigi-analyzers-15.07.80.tar.xz">kdesdk-strigi-analyzers-15.07.80</a></td>
   <td align="right">17kB</td>
   <td><tt>0b4a0e6705223e3499d30a095c81ef9d5ae1f87d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/kdesdk-thumbnailers-15.07.80.tar.xz">kdesdk-thumbnailers-15.07.80</a></td>
   <td align="right">11kB</td>
   <td><tt>9e9923fc0c6a9d3e403fd850764f950fc37d29f3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/kde-wallpapers-15.07.80.tar.xz">kde-wallpapers-15.07.80</a></td>
   <td align="right">86MB</td>
   <td><tt>bffd6693592877745064c7be668b788fc835e058</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/kdewebdev-15.07.80.tar.xz">kdewebdev-15.07.80</a></td>
   <td align="right">2.4MB</td>
   <td><tt>8ad6822057b3d3d6ee2f38136b5ddca9592060e9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/kdf-15.07.80.tar.xz">kdf-15.07.80</a></td>
   <td align="right">145kB</td>
   <td><tt>21eca04686325c6bf62991adaa3dfcd6e30fa6a3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/kdiamond-15.07.80.tar.xz">kdiamond-15.07.80</a></td>
   <td align="right">3.9MB</td>
   <td><tt>255366c11f4fe082961d16632db00bd330cc2ca1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/kfloppy-15.07.80.tar.xz">kfloppy-15.07.80</a></td>
   <td align="right">52kB</td>
   <td><tt>61b094207db3d07ac47e27dddffe1691d34f7a08</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/kfourinline-15.07.80.tar.xz">kfourinline-15.07.80</a></td>
   <td align="right">274kB</td>
   <td><tt>3d9e6241dc24b6626f2ee2ab977b387827567a10</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/kgamma-15.07.80.tar.xz">kgamma-15.07.80</a></td>
   <td align="right">22kB</td>
   <td><tt>949bcf0de2aa24c7d6e377268a0cb1e776317ed4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/kgeography-15.07.80.tar.xz">kgeography-15.07.80</a></td>
   <td align="right">6.4MB</td>
   <td><tt>86fc2b0b65cf4fe289dc4a46bd2ab4c2d6177e69</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/kget-15.07.80.tar.xz">kget-15.07.80</a></td>
   <td align="right">1.0MB</td>
   <td><tt>51a056b42c303b23d127045fa7bb8175fcb738a6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/kgoldrunner-15.07.80.tar.xz">kgoldrunner-15.07.80</a></td>
   <td align="right">1.9MB</td>
   <td><tt>10fdb1bef3843405a24665a022fa4f7e37468ae6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/kgpg-15.07.80.tar.xz">kgpg-15.07.80</a></td>
   <td align="right">791kB</td>
   <td><tt>f21f9bf2e9391ba9a3fb7217ea51dc2e2dd105b7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/khangman-15.07.80.tar.xz">khangman-15.07.80</a></td>
   <td align="right">3.7MB</td>
   <td><tt>996a1e1ae3fb1ddc83a215f500bcd80801d87879</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/kholidays-15.07.80.tar.xz">kholidays-15.07.80</a></td>
   <td align="right">159kB</td>
   <td><tt>16f71e138f7a0fbb324d8a0a94674a0e4478e69b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/kidentitymanagement-15.07.80.tar.xz">kidentitymanagement-15.07.80</a></td>
   <td align="right">28kB</td>
   <td><tt>8dc3ebe3f60655993d0f6ce5b44ac1c8d0a26b6a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/kig-15.07.80.tar.xz">kig-15.07.80</a></td>
   <td align="right">1.4MB</td>
   <td><tt>a242e0d4d53fc465ba1f27c51a8f38d2c1c63e1d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/kigo-15.07.80.tar.xz">kigo-15.07.80</a></td>
   <td align="right">1.3MB</td>
   <td><tt>6f0d65794dcadf0567fa81ecd2fdb3a007e278f6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/killbots-15.07.80.tar.xz">killbots-15.07.80</a></td>
   <td align="right">941kB</td>
   <td><tt>178f55d4fec01cb345cfc2fff29a843f7314c537</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/kimap-15.07.80.tar.xz">kimap-15.07.80</a></td>
   <td align="right">87kB</td>
   <td><tt>e78d342f35e6cb15cda1c521d972781d8b073dc6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/kio-extras-15.07.80.tar.xz">kio-extras-15.07.80</a></td>
   <td align="right">261kB</td>
   <td><tt>2769bb501729a10aa514bba01bc9212a7675d61a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/kiriki-15.07.80.tar.xz">kiriki-15.07.80</a></td>
   <td align="right">115kB</td>
   <td><tt>0d90664bb7f66af8cc38fb8c3f7e72496553fe9a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/kiten-15.07.80.tar.xz">kiten-15.07.80</a></td>
   <td align="right">11MB</td>
   <td><tt>8a9a5f10b813494b4237bcdbfd81e2a34595476d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/kjumpingcube-15.07.80.tar.xz">kjumpingcube-15.07.80</a></td>
   <td align="right">161kB</td>
   <td><tt>710fa0ff604d8173b855087ff403f5160e9faded</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/kldap-15.07.80.tar.xz">kldap-15.07.80</a></td>
   <td align="right">44kB</td>
   <td><tt>0c2cdba75575d16e45666602337daedd81012e93</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/klettres-15.07.80.tar.xz">klettres-15.07.80</a></td>
   <td align="right">2.6MB</td>
   <td><tt>4652a6e1ea26e827ba4475f7b522775676e8faff</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/klickety-15.07.80.tar.xz">klickety-15.07.80</a></td>
   <td align="right">765kB</td>
   <td><tt>4e75ff54e0a49bb34d576ef5ef7ac5d82ca5b46f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/klines-15.07.80.tar.xz">klines-15.07.80</a></td>
   <td align="right">928kB</td>
   <td><tt>cc36bb20b46a0bec1ada2058abfb897ee892bc74</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/kmag-15.07.80.tar.xz">kmag-15.07.80</a></td>
   <td align="right">84kB</td>
   <td><tt>ede80988ef56c41254c84667f367fcb212666e32</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/kmahjongg-15.07.80.tar.xz">kmahjongg-15.07.80</a></td>
   <td align="right">984kB</td>
   <td><tt>852b837f3e8ee37c24f5890ab11d803bf5898693</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/kmailtransport-15.07.80.tar.xz">kmailtransport-15.07.80</a></td>
   <td align="right">62kB</td>
   <td><tt>b758957d60e19a3e37818152d87e6f1eb08a4161</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/kmbox-15.07.80.tar.xz">kmbox-15.07.80</a></td>
   <td align="right">15kB</td>
   <td><tt>fec0fd91c502ab46488672ffe0418ba6f4a337b7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/kmime-15.07.80.tar.xz">kmime-15.07.80</a></td>
   <td align="right">121kB</td>
   <td><tt>a7c66a9ff569dc0226f3ea514ce5406209798540</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/kmines-15.07.80.tar.xz">kmines-15.07.80</a></td>
   <td align="right">609kB</td>
   <td><tt>93ec784bff3c1ae3ffe4fc4443e48ee767a4be2e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/kmix-15.07.80.tar.xz">kmix-15.07.80</a></td>
   <td align="right">379kB</td>
   <td><tt>1ce45d4059e0f9725f581f54e442e5b4a990f302</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/kmousetool-15.07.80.tar.xz">kmousetool-15.07.80</a></td>
   <td align="right">35kB</td>
   <td><tt>5e0b9513a7e803402812b87211b38a1e5c960d7c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/kmouth-15.07.80.tar.xz">kmouth-15.07.80</a></td>
   <td align="right">270kB</td>
   <td><tt>7e1700f5b8863eebfd54ebe09bfa81c12e361af5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/kmplot-15.07.80.tar.xz">kmplot-15.07.80</a></td>
   <td align="right">647kB</td>
   <td><tt>8a18a47be3eff030d222f86b80250e8c9946f74b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/knavalbattle-15.07.80.tar.xz">knavalbattle-15.07.80</a></td>
   <td align="right">834kB</td>
   <td><tt>09edc633784bade2c5e07b74b8eb1ff5177c3baf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/knetwalk-15.07.80.tar.xz">knetwalk-15.07.80</a></td>
   <td align="right">765kB</td>
   <td><tt>704fbbcf53da4bdd0c61631a1d9fe7b0c46c0cca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/kolf-15.07.80.tar.xz">kolf-15.07.80</a></td>
   <td align="right">749kB</td>
   <td><tt>d33f6cdc937ec933d93182bd79d9855f98e40a9b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/kollision-15.07.80.tar.xz">kollision-15.07.80</a></td>
   <td align="right">204kB</td>
   <td><tt>1f66586f19bef3096fd00f3c37f5d8b5894667d3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/kolourpaint-15.07.80.tar.xz">kolourpaint-15.07.80</a></td>
   <td align="right">1.1MB</td>
   <td><tt>23a814afd2bc6840978e69ce2867b52193e655b6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/kompare-15.07.80.tar.xz">kompare-15.07.80</a></td>
   <td align="right">336kB</td>
   <td><tt>bc4d5cb3b92f2f24c2c1ae0c32d215c7dd993cef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/konquest-15.07.80.tar.xz">konquest-15.07.80</a></td>
   <td align="right">396kB</td>
   <td><tt>d11a1f57eec9c92b9d00e4a098397530db76e816</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/konsole-15.07.80.tar.xz">konsole-15.07.80</a></td>
   <td align="right">448kB</td>
   <td><tt>2db9f2477c53fbfb9fc98bb83049886cb42ed60c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/kontactinterface-15.07.80.tar.xz">kontactinterface-15.07.80</a></td>
   <td align="right">16kB</td>
   <td><tt>382116d70ec3b926a9812f3323d13935d4da32eb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/kopete-15.07.80.tar.xz">kopete-15.07.80</a></td>
   <td align="right">6.0MB</td>
   <td><tt>fc8c2a149be5b477d1fec85cbfee711e919de1c6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/kpat-15.07.80.tar.xz">kpat-15.07.80</a></td>
   <td align="right">2.9MB</td>
   <td><tt>07c57a467611268c448380e780ba264224a2a6bd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/kpimtextedit-15.07.80.tar.xz">kpimtextedit-15.07.80</a></td>
   <td align="right">30kB</td>
   <td><tt>465052ab81b934729b1bbcb38d7d4c5545d6f14f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/kppp-15.07.80.tar.xz">kppp-15.07.80</a></td>
   <td align="right">683kB</td>
   <td><tt>65ab3d40f044a51e8af91332e60460792fa63bd3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/kqtquickcharts-15.07.80.tar.xz">kqtquickcharts-15.07.80</a></td>
   <td align="right">20kB</td>
   <td><tt>ad3ae49114a0007fe85efd7d6db753880d9bc2b8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/krdc-15.07.80.tar.xz">krdc-15.07.80</a></td>
   <td align="right">389kB</td>
   <td><tt>75097536a6c16fa2a33bc8e5e001688fadd7f08c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/kremotecontrol-15.07.80.tar.xz">kremotecontrol-15.07.80</a></td>
   <td align="right">1.0MB</td>
   <td><tt>e54b50b2c96e48fd28857b5043f3669cf98a8a22</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/kreversi-15.07.80.tar.xz">kreversi-15.07.80</a></td>
   <td align="right">464kB</td>
   <td><tt>582eefbf2ad3da178184a83c32f67ecfc49eed19</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/krfb-15.07.80.tar.xz">krfb-15.07.80</a></td>
   <td align="right">319kB</td>
   <td><tt>07f54b027d98414e3fdf28a35e5905cd3d5f1bda</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/kross-interpreters-15.07.80.tar.xz">kross-interpreters-15.07.80</a></td>
   <td align="right">129kB</td>
   <td><tt>d6375dff1f1a412e4edd2c72c2f04b18279ef130</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/kruler-15.07.80.tar.xz">kruler-15.07.80</a></td>
   <td align="right">120kB</td>
   <td><tt>0c01c1740be4e5acbe129e44771569b02ec71b01</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/ksaneplugin-15.07.80.tar.xz">ksaneplugin-15.07.80</a></td>
   <td align="right">12kB</td>
   <td><tt>5c9b1df6c7e4e4c90fb11cfd4eb371eec51dc349</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/kscd-15.07.80.tar.xz">kscd-15.07.80</a></td>
   <td align="right">90kB</td>
   <td><tt>938a9cfe276486ddde88a0d3889114316d8c594d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/kshisen-15.07.80.tar.xz">kshisen-15.07.80</a></td>
   <td align="right">133kB</td>
   <td><tt>b3d03bf5527b5a0ce1f610c18a837993dc826466</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/ksirk-15.07.80.tar.xz">ksirk-15.07.80</a></td>
   <td align="right">4.7MB</td>
   <td><tt>f19fdca6a9e2d347a44e97f4e8e027a4bdedbefd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/ksnakeduel-15.07.80.tar.xz">ksnakeduel-15.07.80</a></td>
   <td align="right">290kB</td>
   <td><tt>ffc0d2ed4e2464c21573a1875b87871c4deae4a4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/ksnapshot-15.07.80.tar.xz">ksnapshot-15.07.80</a></td>
   <td align="right">252kB</td>
   <td><tt>6d7e33281fbbd4a1471fb771457dae328d5a8b41</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/kspaceduel-15.07.80.tar.xz">kspaceduel-15.07.80</a></td>
   <td align="right">247kB</td>
   <td><tt>12dafdfc64c29bd130a5d83b0bea41c28b707512</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/ksquares-15.07.80.tar.xz">ksquares-15.07.80</a></td>
   <td align="right">78kB</td>
   <td><tt>6c94b3bb5add1189c588986800a4b9b849ed64b6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/kstars-15.07.80.tar.xz">kstars-15.07.80</a></td>
   <td align="right">12MB</td>
   <td><tt>367d044d447f78589dded9a83127ddff8ee674b5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/ksudoku-15.07.80.tar.xz">ksudoku-15.07.80</a></td>
   <td align="right">1.3MB</td>
   <td><tt>d4004218e36aced65f48c3a15e39357f809004e9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/ksystemlog-15.07.80.tar.xz">ksystemlog-15.07.80</a></td>
   <td align="right">372kB</td>
   <td><tt>03b061f82f0873d176b8a17bdedafaa1b5bb11c6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/kteatime-15.07.80.tar.xz">kteatime-15.07.80</a></td>
   <td align="right">102kB</td>
   <td><tt>fa97c3cb21d26710705b72487184b86d38ae1a4d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/ktimer-15.07.80.tar.xz">ktimer-15.07.80</a></td>
   <td align="right">143kB</td>
   <td><tt>a14b9155365c52e8b72b453f0506b74ceceae814</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/ktnef-15.07.80.tar.xz">ktnef-15.07.80</a></td>
   <td align="right">219kB</td>
   <td><tt>4db1676e52c15774b9955caaed3cfdad455f9f67</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/ktouch-15.07.80.tar.xz">ktouch-15.07.80</a></td>
   <td align="right">2.3MB</td>
   <td><tt>8000c4c4567de782cfed972479a5c3c39be6b901</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/ktp-accounts-kcm-15.07.80.tar.xz">ktp-accounts-kcm-15.07.80</a></td>
   <td align="right">86kB</td>
   <td><tt>1a4afd29e2047304dfd854001bd08a8bb30ec2d1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/ktp-approver-15.07.80.tar.xz">ktp-approver-15.07.80</a></td>
   <td align="right">20kB</td>
   <td><tt>a2aecae0d352734beb51c6933aa194be9afee554</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/ktp-auth-handler-15.07.80.tar.xz">ktp-auth-handler-15.07.80</a></td>
   <td align="right">25kB</td>
   <td><tt>abac1878ff3dccd57f8cbd0d83149b866b691369</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/ktp-common-internals-15.07.80.tar.xz">ktp-common-internals-15.07.80</a></td>
   <td align="right">306kB</td>
   <td><tt>96fad7a387d5a4b35f6389cb2a0686ed532e8412</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/ktp-contact-list-15.07.80.tar.xz">ktp-contact-list-15.07.80</a></td>
   <td align="right">47kB</td>
   <td><tt>13f13f029bf52d4527a6cda215bd8f2ae87fd034</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/ktp-contact-runner-15.07.80.tar.xz">ktp-contact-runner-15.07.80</a></td>
   <td align="right">16kB</td>
   <td><tt>ca54a768ba20801009ad5a25812d044dd2101a80</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/ktp-desktop-applets-15.07.80.tar.xz">ktp-desktop-applets-15.07.80</a></td>
   <td align="right">25kB</td>
   <td><tt>7c208769b3c37be408fb17634e13496db984f52a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/ktp-filetransfer-handler-15.07.80.tar.xz">ktp-filetransfer-handler-15.07.80</a></td>
   <td align="right">22kB</td>
   <td><tt>0f81a600e30a327fafeb193c8b0ef00e01651770</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/ktp-kded-module-15.07.80.tar.xz">ktp-kded-module-15.07.80</a></td>
   <td align="right">37kB</td>
   <td><tt>c54553f398d5d23d0cb988c05fd208816689d87a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/ktp-send-file-15.07.80.tar.xz">ktp-send-file-15.07.80</a></td>
   <td align="right">14kB</td>
   <td><tt>558c36dbe0fe556c1da1bc6b42907dfcec3b80cb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/ktp-text-ui-15.07.80.tar.xz">ktp-text-ui-15.07.80</a></td>
   <td align="right">286kB</td>
   <td><tt>094933b79e231c60597c5e839b154072140e0c10</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/ktuberling-15.07.80.tar.xz">ktuberling-15.07.80</a></td>
   <td align="right">4.0MB</td>
   <td><tt>ece67d5568deed6d6eaa0e53394446101714529b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/kturtle-15.07.80.tar.xz">kturtle-15.07.80</a></td>
   <td align="right">189kB</td>
   <td><tt>50e1e2167bef57ff853d98fd5eaa5ffe7bddc57c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/ktux-15.07.80.tar.xz">ktux-15.07.80</a></td>
   <td align="right">106kB</td>
   <td><tt>a36dce907ad188260b4bf2e4bc0f410ee1f69b39</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/kubrick-15.07.80.tar.xz">kubrick-15.07.80</a></td>
   <td align="right">104kB</td>
   <td><tt>604c322325f3f8cb740e4bae6fbc7dcc3d95c307</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/kuser-15.07.80.tar.xz">kuser-15.07.80</a></td>
   <td align="right">132kB</td>
   <td><tt>d63f8268ba2cbb84c168ed1183166b5755966a1c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/kwalletmanager-15.07.80.tar.xz">kwalletmanager-15.07.80</a></td>
   <td align="right">445kB</td>
   <td><tt>00399b805748070e3dce5eb3fc68acde2354fc56</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/kwordquiz-15.07.80.tar.xz">kwordquiz-15.07.80</a></td>
   <td align="right">1.1MB</td>
   <td><tt>5328941e6c476c1b5c4459522ba9be1d8b0ebcf2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/libkcddb-15.07.80.tar.xz">libkcddb-15.07.80</a></td>
   <td align="right">154kB</td>
   <td><tt>fbbea25b9da283349001d78cd8068f2a82a889d0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/libkcompactdisc-15.07.80.tar.xz">libkcompactdisc-15.07.80</a></td>
   <td align="right">74kB</td>
   <td><tt>d5431c97a9956ccf8138829bdb7941a63acfbfd3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/libkdcraw-15.07.80.tar.xz">libkdcraw-15.07.80</a></td>
   <td align="right">99kB</td>
   <td><tt>862f0c38f5eb582eea34c2bb59fdb7dda96752d7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/libkdeedu-15.07.80.tar.xz">libkdeedu-15.07.80</a></td>
   <td align="right">128kB</td>
   <td><tt>d4c5b4ee5403019023b885510c167db14f886f9f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/libkdegames-15.07.80.tar.xz">libkdegames-15.07.80</a></td>
   <td align="right">5.5MB</td>
   <td><tt>6ded05458e0300a4f30610a87873296cc0a625f2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/libkeduvocdocument-15.07.80.tar.xz">libkeduvocdocument-15.07.80</a></td>
   <td align="right">96kB</td>
   <td><tt>28e5f91f50bef73ec6a8630197199d4b520fa153</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/libkexiv2-15.07.80.tar.xz">libkexiv2-15.07.80</a></td>
   <td align="right">134kB</td>
   <td><tt>099380fd3d00b25afbe8a7d0fd13155301393194</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/libkface-15.07.80.tar.xz">libkface-15.07.80</a></td>
   <td align="right">8.5MB</td>
   <td><tt>6c145d346b8e7473c0b8e01abe57277640c79a27</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/libkgeomap-15.07.80.tar.xz">libkgeomap-15.07.80</a></td>
   <td align="right">121kB</td>
   <td><tt>0b9ccd2f009af8ab0a3a894601e913eb7ff9f960</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/libkipi-15.07.80.tar.xz">libkipi-15.07.80</a></td>
   <td align="right">92kB</td>
   <td><tt>01c3e32e015b8c365da9b05c4b69f7fcda6ac2fd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/libkmahjongg-15.07.80.tar.xz">libkmahjongg-15.07.80</a></td>
   <td align="right">1.6MB</td>
   <td><tt>79e7a9cacd96a17b8f886a763aace91902c00ceb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/libkomparediff2-15.07.80.tar.xz">libkomparediff2-15.07.80</a></td>
   <td align="right">55kB</td>
   <td><tt>e8ebe3eb48dfebb9ddc78832d0b957b1980fa1c0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/libksane-15.07.80.tar.xz">libksane-15.07.80</a></td>
   <td align="right">79kB</td>
   <td><tt>e2d72e3c6acc8f85f44fe543966b0b23fa9cd4d0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/lokalize-15.07.80.tar.xz">lokalize-15.07.80</a></td>
   <td align="right">930kB</td>
   <td><tt>dd89de5c38959843c1eabf6811323f8b2e4a1bbc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/lskat-15.07.80.tar.xz">lskat-15.07.80</a></td>
   <td align="right">908kB</td>
   <td><tt>b6148e03257b84811e3bbe560334bb80a9b34c4b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/marble-15.07.80.tar.xz">marble-15.07.80</a></td>
   <td align="right">22MB</td>
   <td><tt>8f61030eec2b2c9702150d799e2337867b9743b2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/mplayerthumbs-15.07.80.tar.xz">mplayerthumbs-15.07.80</a></td>
   <td align="right">26kB</td>
   <td><tt>7b1c575809c92108b9b4fe1bb2346a427a5c8a60</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/okteta-15.07.80.tar.xz">okteta-15.07.80</a></td>
   <td align="right">492kB</td>
   <td><tt>0cbef02932816758242ab1a8a01da3b2ed6e4683</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/okular-15.07.80.tar.xz">okular-15.07.80</a></td>
   <td align="right">1.5MB</td>
   <td><tt>5e78b6d5b21171b602f3cd9a8f1b21afa13279d8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/pairs-15.07.80.tar.xz">pairs-15.07.80</a></td>
   <td align="right">2.6MB</td>
   <td><tt>83a1adb653466b2985c9881bbf486558cb6fab48</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/palapeli-15.07.80.tar.xz">palapeli-15.07.80</a></td>
   <td align="right">1.6MB</td>
   <td><tt>a8890af02747852b2b4ab1d26f7f3f7ffb524f08</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/parley-15.07.80.tar.xz">parley-15.07.80</a></td>
   <td align="right">4.5MB</td>
   <td><tt>5aa74f732954e324be70cfd42833b28d237779a2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/picmi-15.07.80.tar.xz">picmi-15.07.80</a></td>
   <td align="right">717kB</td>
   <td><tt>cb1cbb54e07711dd9ab35660475defdee3564636</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/poxml-15.07.80.tar.xz">poxml-15.07.80</a></td>
   <td align="right">30kB</td>
   <td><tt>84b931420215d3bbed8d035e486f4c548b715302</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/print-manager-15.07.80.tar.xz">print-manager-15.07.80</a></td>
   <td align="right">91kB</td>
   <td><tt>a6f941a39d022e45b7e1f8f81f83a40696cd8aac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/rocs-15.07.80.tar.xz">rocs-15.07.80</a></td>
   <td align="right">521kB</td>
   <td><tt>b4b678428fb51b1d877f3997dc422620b98d437a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/signon-kwallet-extension-15.07.80.tar.xz">signon-kwallet-extension-15.07.80</a></td>
   <td align="right">10kB</td>
   <td><tt>6981ca921457a036cde3e976441037fc36adf117</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/step-15.07.80.tar.xz">step-15.07.80</a></td>
   <td align="right">378kB</td>
   <td><tt>e0332ffbc7eacf38b600766995517e60070ce920</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/superkaramba-15.07.80.tar.xz">superkaramba-15.07.80</a></td>
   <td align="right">372kB</td>
   <td><tt>98ab7ae9b73c05d60378739e268d7846cb40860c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/svgpart-15.07.80.tar.xz">svgpart-15.07.80</a></td>
   <td align="right">8kB</td>
   <td><tt>4b6013a85c128572802900504e03ec634a8494cb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/sweeper-15.07.80.tar.xz">sweeper-15.07.80</a></td>
   <td align="right">80kB</td>
   <td><tt>aa924c7b7678ea1db05e99db4d3cd5e6b94fd4bb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/syndication-15.07.80.tar.xz">syndication-15.07.80</a></td>
   <td align="right">155kB</td>
   <td><tt>0cff86e4b59d962c62d5468d066eb31a840ba287</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/umbrello-15.07.80.tar.xz">umbrello-15.07.80</a></td>
   <td align="right">1.4MB</td>
   <td><tt>ddc4a2ea8bf96ca631211070ff8b245132bd3542</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/zeroconf-ioslave-15.07.80.tar.xz">zeroconf-ioslave-15.07.80</a></td>
   <td align="right">25kB</td>
   <td><tt>c935f4f076cbf153a11c12ff21465fb650347f44</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/kde-l10n/kde-l10n-ar-15.07.80.tar.xz">kde-l10n-ar-15.07.80</a></td>
   <td align="right">3.2MB</td>
   <td><tt>292bfe4f41f80376aa0d34c2b509fde30177aa9c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/kde-l10n/kde-l10n-bg-15.07.80.tar.xz">kde-l10n-bg-15.07.80</a></td>
   <td align="right">1.9MB</td>
   <td><tt>ba8e13e9f531ae9c1bd3c3b407a9b9c9b46ffbfb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/kde-l10n/kde-l10n-bs-15.07.80.tar.xz">kde-l10n-bs-15.07.80</a></td>
   <td align="right">2.3MB</td>
   <td><tt>b0e0caa1363601248c7073d21f8c2bd985d8bf59</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/kde-l10n/kde-l10n-ca-15.07.80.tar.xz">kde-l10n-ca-15.07.80</a></td>
   <td align="right">11MB</td>
   <td><tt>ea77cbc8b32b552425290a881183510478fe9eb3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/kde-l10n/kde-l10n-ca@valencia-15.07.80.tar.xz">kde-l10n-ca@valencia-15.07.80</a></td>
   <td align="right">2.3MB</td>
   <td><tt>714b94ed2650c49e9bac4148a21470c3cb347230</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/kde-l10n/kde-l10n-cs-15.07.80.tar.xz">kde-l10n-cs-15.07.80</a></td>
   <td align="right">2.8MB</td>
   <td><tt>94475f4034fdeb4ce80652884903e1fbe3f5d70e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/kde-l10n/kde-l10n-da-15.07.80.tar.xz">kde-l10n-da-15.07.80</a></td>
   <td align="right">12MB</td>
   <td><tt>3652409dced1913a518e1993ceec57aa92a05db2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/kde-l10n/kde-l10n-de-15.07.80.tar.xz">kde-l10n-de-15.07.80</a></td>
   <td align="right">32MB</td>
   <td><tt>cbcc9380eac5b515c25a2e0cc96ad113d87fe182</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/kde-l10n/kde-l10n-el-15.07.80.tar.xz">kde-l10n-el-15.07.80</a></td>
   <td align="right">4.7MB</td>
   <td><tt>f99d2c5a1e6ddf5aa2dd16ac08e3f8cc272c5e52</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/kde-l10n/kde-l10n-en_GB-15.07.80.tar.xz">kde-l10n-en_GB-15.07.80</a></td>
   <td align="right">2.7MB</td>
   <td><tt>547b73af90e1595439ec3c554e468b397c7630a3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/kde-l10n/kde-l10n-eo-15.07.80.tar.xz">kde-l10n-eo-15.07.80</a></td>
   <td align="right">1.8MB</td>
   <td><tt>4317ff4e6991c6132e887668b8557041a03c11ce</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/kde-l10n/kde-l10n-es-15.07.80.tar.xz">kde-l10n-es-15.07.80</a></td>
   <td align="right">17MB</td>
   <td><tt>522466c3fb1b6aa05a591573db2c3eb96e12223e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/kde-l10n/kde-l10n-et-15.07.80.tar.xz">kde-l10n-et-15.07.80</a></td>
   <td align="right">3.1MB</td>
   <td><tt>4cb2e036709837918b99e99ea03c7bdb731e72b9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/kde-l10n/kde-l10n-eu-15.07.80.tar.xz">kde-l10n-eu-15.07.80</a></td>
   <td align="right">2.0MB</td>
   <td><tt>c577ce4cb0fe755362595268a6c2794f6ca01ec8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/kde-l10n/kde-l10n-fa-15.07.80.tar.xz">kde-l10n-fa-15.07.80</a></td>
   <td align="right">1.8MB</td>
   <td><tt>a779fa51a92f4b60759fa63a44093fa8a1d2d3fc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/kde-l10n/kde-l10n-fi-15.07.80.tar.xz">kde-l10n-fi-15.07.80</a></td>
   <td align="right">2.6MB</td>
   <td><tt>fccb80b24f0a0ef94676f36102e064ee491e182e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/kde-l10n/kde-l10n-fr-15.07.80.tar.xz">kde-l10n-fr-15.07.80</a></td>
   <td align="right">42MB</td>
   <td><tt>4093a91c7cb8ed0d08d6ed4761eb96a6b58599f4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/kde-l10n/kde-l10n-ga-15.07.80.tar.xz">kde-l10n-ga-15.07.80</a></td>
   <td align="right">2.8MB</td>
   <td><tt>239682d9750d35bb9568588d72ae2a5e30211741</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/kde-l10n/kde-l10n-gl-15.07.80.tar.xz">kde-l10n-gl-15.07.80</a></td>
   <td align="right">3.3MB</td>
   <td><tt>92231f1d157de15c84e27939fb10f75921231e46</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/kde-l10n/kde-l10n-he-15.07.80.tar.xz">kde-l10n-he-15.07.80</a></td>
   <td align="right">2.0MB</td>
   <td><tt>96c92b6b1ee03c2a4c131917a72406967a254c9e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/kde-l10n/kde-l10n-hi-15.07.80.tar.xz">kde-l10n-hi-15.07.80</a></td>
   <td align="right">1.7MB</td>
   <td><tt>a7696ec893d362e3b7cbccecaf2c74d5b298ea45</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/kde-l10n/kde-l10n-hr-15.07.80.tar.xz">kde-l10n-hr-15.07.80</a></td>
   <td align="right">1.9MB</td>
   <td><tt>f1b227ab993895d95ab792fe777d8312a8e35561</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/kde-l10n/kde-l10n-hu-15.07.80.tar.xz">kde-l10n-hu-15.07.80</a></td>
   <td align="right">4.1MB</td>
   <td><tt>7f779123005ae5ae9c7cd66b96c98768c7a87cce</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/kde-l10n/kde-l10n-ia-15.07.80.tar.xz">kde-l10n-ia-15.07.80</a></td>
   <td align="right">1.3MB</td>
   <td><tt>52c7c7cd617b70c557b4929a9a83d01b337d850b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/kde-l10n/kde-l10n-id-15.07.80.tar.xz">kde-l10n-id-15.07.80</a></td>
   <td align="right">558kB</td>
   <td><tt>42f836aeffc55995474154d30432f03a3d7995ba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/kde-l10n/kde-l10n-is-15.07.80.tar.xz">kde-l10n-is-15.07.80</a></td>
   <td align="right">1.7MB</td>
   <td><tt>8c358e061e26c96d8cbb6ca8e747c019dd923307</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/kde-l10n/kde-l10n-it-15.07.80.tar.xz">kde-l10n-it-15.07.80</a></td>
   <td align="right">8.4MB</td>
   <td><tt>63fea7d45090a3b5cffa89840a5898beae154178</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/kde-l10n/kde-l10n-ja-15.07.80.tar.xz">kde-l10n-ja-15.07.80</a></td>
   <td align="right">2.2MB</td>
   <td><tt>1d1f54ee518a6df647b0f54b135000ffa3ee9f10</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/kde-l10n/kde-l10n-kk-15.07.80.tar.xz">kde-l10n-kk-15.07.80</a></td>
   <td align="right">2.5MB</td>
   <td><tt>e5e4e71c801917702f2e09fe5c2c8d36615d0f12</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/kde-l10n/kde-l10n-km-15.07.80.tar.xz">kde-l10n-km-15.07.80</a></td>
   <td align="right">2.1MB</td>
   <td><tt>63eaefc10568c29a31e4ba6f637edf56450fbed4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/kde-l10n/kde-l10n-ko-15.07.80.tar.xz">kde-l10n-ko-15.07.80</a></td>
   <td align="right">1.8MB</td>
   <td><tt>d2834b172ba612455016cc021e5db4c881081992</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/kde-l10n/kde-l10n-lt-15.07.80.tar.xz">kde-l10n-lt-15.07.80</a></td>
   <td align="right">12MB</td>
   <td><tt>38dac51744ea682e7ec20857038d78ca5d0a8542</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/kde-l10n/kde-l10n-lv-15.07.80.tar.xz">kde-l10n-lv-15.07.80</a></td>
   <td align="right">2.1MB</td>
   <td><tt>29dc090e47858c251caff55e5665b5eb622f64ac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/kde-l10n/kde-l10n-mr-15.07.80.tar.xz">kde-l10n-mr-15.07.80</a></td>
   <td align="right">1.7MB</td>
   <td><tt>82d71c8c04955194e1541285234ca4bffae02a51</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/kde-l10n/kde-l10n-nb-15.07.80.tar.xz">kde-l10n-nb-15.07.80</a></td>
   <td align="right">2.4MB</td>
   <td><tt>b6ec4c4ab6d0ef2b7665441d942b78b117f4e6e5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/kde-l10n/kde-l10n-nds-15.07.80.tar.xz">kde-l10n-nds-15.07.80</a></td>
   <td align="right">3.1MB</td>
   <td><tt>e6957fbac3f30ab258c01fdb710e826bcc8efe29</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/kde-l10n/kde-l10n-nl-15.07.80.tar.xz">kde-l10n-nl-15.07.80</a></td>
   <td align="right">13MB</td>
   <td><tt>6a19e6708e53e86853f28f3705590681a3696a3b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/kde-l10n/kde-l10n-nn-15.07.80.tar.xz">kde-l10n-nn-15.07.80</a></td>
   <td align="right">1.8MB</td>
   <td><tt>3e221bc7eeaf3988ac92d9c280c76332f20ddd52</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/kde-l10n/kde-l10n-pa-15.07.80.tar.xz">kde-l10n-pa-15.07.80</a></td>
   <td align="right">1.8MB</td>
   <td><tt>8d67297e1596261db016336def397f963668f4f4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/kde-l10n/kde-l10n-pl-15.07.80.tar.xz">kde-l10n-pl-15.07.80</a></td>
   <td align="right">18MB</td>
   <td><tt>7c99b8df95f2486f786760934907d2d58759f165</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/kde-l10n/kde-l10n-pt-15.07.80.tar.xz">kde-l10n-pt-15.07.80</a></td>
   <td align="right">3.3MB</td>
   <td><tt>7a517d8d7f9410fec1cd3b2be0f743c7d2f6f2ad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/kde-l10n/kde-l10n-pt_BR-15.07.80.tar.xz">kde-l10n-pt_BR-15.07.80</a></td>
   <td align="right">20MB</td>
   <td><tt>9cf60edf72e5bfc43afaa0a1a65f1aaab514feaf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/kde-l10n/kde-l10n-ro-15.07.80.tar.xz">kde-l10n-ro-15.07.80</a></td>
   <td align="right">2.9MB</td>
   <td><tt>49ad9bfb09ddd3882fbef697806d0dad5f40f951</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/kde-l10n/kde-l10n-ru-15.07.80.tar.xz">kde-l10n-ru-15.07.80</a></td>
   <td align="right">21MB</td>
   <td><tt>22785767e26842646741bf80650dd1f89eda60d0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/kde-l10n/kde-l10n-sk-15.07.80.tar.xz">kde-l10n-sk-15.07.80</a></td>
   <td align="right">4.4MB</td>
   <td><tt>c61c11b24918d3f3bac8cdec42f1d7d361521dd2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/kde-l10n/kde-l10n-sl-15.07.80.tar.xz">kde-l10n-sl-15.07.80</a></td>
   <td align="right">3.1MB</td>
   <td><tt>ae720749e57962c324ca07a41bb61cd4c415e0b7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/kde-l10n/kde-l10n-sr-15.07.80.tar.xz">kde-l10n-sr-15.07.80</a></td>
   <td align="right">4.5MB</td>
   <td><tt>97b0f4727bc66ea84905ee12f878e2187aca5e89</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/kde-l10n/kde-l10n-sv-15.07.80.tar.xz">kde-l10n-sv-15.07.80</a></td>
   <td align="right">12MB</td>
   <td><tt>55c31f987091a256fb2eeebb7e89ae7f6e96cea0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/kde-l10n/kde-l10n-tr-15.07.80.tar.xz">kde-l10n-tr-15.07.80</a></td>
   <td align="right">3.7MB</td>
   <td><tt>336bf652f3214b2f441a5e5f066b4f55575e5d41</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/kde-l10n/kde-l10n-ug-15.07.80.tar.xz">kde-l10n-ug-15.07.80</a></td>
   <td align="right">1.7MB</td>
   <td><tt>e507420ad06110ce1614e5530f758bfd4b58edab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/kde-l10n/kde-l10n-uk-15.07.80.tar.xz">kde-l10n-uk-15.07.80</a></td>
   <td align="right">24MB</td>
   <td><tt>c3e3844eb9984bbfedec44d95a148217ddbd7ed2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/kde-l10n/kde-l10n-wa-15.07.80.tar.xz">kde-l10n-wa-15.07.80</a></td>
   <td align="right">1.6MB</td>
   <td><tt>bc5cca16e8242caefaf1c8dbbeb2906f98ea1333</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/kde-l10n/kde-l10n-zh_CN-15.07.80.tar.xz">kde-l10n-zh_CN-15.07.80</a></td>
   <td align="right">3.4MB</td>
   <td><tt>85b354f940d647d76d97070bb1bf30c1d3ed318a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/applications/15.07.80/src/kde-l10n/kde-l10n-zh_TW-15.07.80.tar.xz">kde-l10n-zh_TW-15.07.80</a></td>
   <td align="right">2.6MB</td>
   <td><tt>b5ff894ca5575e78769922d2971211e9037e1fe2</tt></td>
</tr>

</table>
