<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.2.2/baloo-5.6.2.tar.xz">baloo-5.6.2</a></td>
   <td align="right">137kB</td>
   <td><tt>2abf15de47d7c99db0f9630c28e8ca280a4dbd16256b851baa229de0bd035893</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.2.2/bluedevil-5.2.2.tar.xz">bluedevil-5.2.2</a></td>
   <td align="right">104kB</td>
   <td><tt>1a8ea46ad00af61b0b12d8f8c8b872276876adbd51566e60433bfc8959ce72a4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.2.2/breeze-5.2.2.tar.xz">breeze-5.2.2</a></td>
   <td align="right">26MB</td>
   <td><tt>5b480d0fd8f277796e7a67d5ac4e255c4479909e5aa0b283e4e0aa21035e8460</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.2.2/kde-cli-tools-5.2.2.tar.xz">kde-cli-tools-5.2.2</a></td>
   <td align="right">468kB</td>
   <td><tt>f5038119e5e67b1b1086e46c9e03a754a3393193d5149f67f2a433e24aeca767</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.2.2/kdecoration-5.2.2.tar.xz">kdecoration-5.2.2</a></td>
   <td align="right">32kB</td>
   <td><tt>3436e907e04ab8d365459252407bf4815d1c74b781937bd3067f87fca9539ba8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.2.2/kde-gtk-config-5.2.2.tar.xz">kde-gtk-config-5.2.2</a></td>
   <td align="right">136kB</td>
   <td><tt>0b171071cfccb1812a84f97646cb5370bb66de255b29039c6d2cffcc4cedd043</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.2.2/kdeplasma-addons-5.2.2.tar.xz">kdeplasma-addons-5.2.2</a></td>
   <td align="right">1.9MB</td>
   <td><tt>f893ad77dea6b9fa08e4eeab57d47370795ae5c39826c51c9e492a4adf5dff7f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.2.2/kfilemetadata-5.6.2.tar.xz">kfilemetadata-5.6.2</a></td>
   <td align="right">110kB</td>
   <td><tt>09491a1a8efbe5bc31b192058981cdf87a9a046d332655c51afe4279bf256b5a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.2.2/khelpcenter-5.2.2.tar.xz">khelpcenter-5.2.2</a></td>
   <td align="right">1.9MB</td>
   <td><tt>07b5cff0afb9b7f98dee727a315365625d34d39a5611f37a1c0f62ff87e33264</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.2.2/khotkeys-5.2.2.tar.xz">khotkeys-5.2.2</a></td>
   <td align="right">724kB</td>
   <td><tt>9275a2f535a63087280763ad5ebb9d9642a4da141e1fb753c3df090a740fe599</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.2.2/kinfocenter-5.2.2.tar.xz">kinfocenter-5.2.2</a></td>
   <td align="right">1.0MB</td>
   <td><tt>74629647897a6ff7d2bae45d1d8c1c473ed2c9a65cc7877b042114e1e81bb02b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.2.2/kio-extras-5.2.2.tar.xz">kio-extras-5.2.2</a></td>
   <td align="right">596kB</td>
   <td><tt>4b5127239283da14a83fd21896f99767cec7f8f7818aa19ff960c57fec7fd7a3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.2.2/kmenuedit-5.2.2.tar.xz">kmenuedit-5.2.2</a></td>
   <td align="right">339kB</td>
   <td><tt>7c171db6106a38788b761966264cda6a198c0e1e1daf21d2ed5bfa4384949843</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.2.2/kscreen-5.2.2.tar.xz">kscreen-5.2.2</a></td>
   <td align="right">81kB</td>
   <td><tt>ec60ff60c6ff268117a570bffd471d3df7aadcd97bcec0a60041846b0820e355</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.2.2/ksshaskpass-5.2.2.tar.xz">ksshaskpass-5.2.2</a></td>
   <td align="right">16kB</td>
   <td><tt>f2baa99177f59b528205628deda962a419c9a73c66a5cc5734ca91410bbe4a14</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.2.2/ksysguard-5.2.2.tar.xz">ksysguard-5.2.2</a></td>
   <td align="right">436kB</td>
   <td><tt>52d4b5b653dacbcd67770376fc35b9e0155c7a9edad9634dd8a0fe0497fce26b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.2.2/kwayland-5.2.2.tar.xz">kwayland-5.2.2</a></td>
   <td align="right">83kB</td>
   <td><tt>27a56b89ec9795f04ceae5e4541893462da335dacf8131bedd34f4b2cf2a97fb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.2.2/kwin-5.2.2.tar.xz">kwin-5.2.2</a></td>
   <td align="right">3.6MB</td>
   <td><tt>ccf66a4b914b2ec38f834907e610b2776c617f2725bec453d7d5faf3d2b2e8c0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.2.2/kwrited-5.2.2.tar.xz">kwrited-5.2.2</a></td>
   <td align="right">19kB</td>
   <td><tt>d03cea79e0a1701157115afffcf4ee83dadccdbabe9ab71dc4ba36afb330a1bb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.2.2/libbluedevil-5.2.2.tar.xz">libbluedevil-5.2.2</a></td>
   <td align="right">187kB</td>
   <td><tt>5f3fdcdb8b124b41b689e82b8094e418ccd893e8e211e1b4935d02a24c440fd4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.2.2/libkscreen-5.2.2.tar.xz">libkscreen-5.2.2</a></td>
   <td align="right">69kB</td>
   <td><tt>7ea64d6a591fa907d0569d73e2159e120341b47253d0d3ecb9f0ceb33c9aac7a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.2.2/libksysguard-5.2.2.tar.xz">libksysguard-5.2.2</a></td>
   <td align="right">536kB</td>
   <td><tt>5b554700e004e8baae4df79b4e95f10c53994e5dcd4cb2bb02cdc0c818a6415d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.2.2/libmm-qt-5.2.2.tar.xz">libmm-qt-5.2.2</a></td>
   <td align="right">74kB</td>
   <td><tt>cd1532928f1b7362bf59b9abe13a2d7c0d2329ea785bc1167904b2e28a75e17c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.2.2/milou-5.2.2.tar.xz">milou-5.2.2</a></td>
   <td align="right">49kB</td>
   <td><tt>d9fd5bc3a438affec9d4cc786a03929c7ed379d6cac22a920f1d9b0812d8e048</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.2.2/muon-5.2.2-1.tar.xz">muon-5.2.2</a></td>
   <td align="right">1001kB</td>
   <td><tt>289979be6c918576c1ca2abbe90fea5b7339d5ee082a65d8ce3599ee40e4005b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.2.2/oxygen-5.2.2.tar.xz">oxygen-5.2.2</a></td>
   <td align="right">4.2MB</td>
   <td><tt>f54f2971f750dd941e9208e690f64dde91b59024c891ccfdf5abea45af0075c2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.2.2/oxygen-fonts-5.2.2.tar.xz">oxygen-fonts-5.2.2</a></td>
   <td align="right">157kB</td>
   <td><tt>202d78eead03dac9ffc2717dda05ebed8cf2f5b71c04a1360cff9722c4833ff7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.2.2/plasma-desktop-5.2.2.tar.xz">plasma-desktop-5.2.2</a></td>
   <td align="right">5.3MB</td>
   <td><tt>d44b0eb0f59d8f2fba827418202e12fb12e0aab02c6608823085574c5a68f113</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.2.2/plasma-nm-5.2.2.tar.xz">plasma-nm-5.2.2</a></td>
   <td align="right">487kB</td>
   <td><tt>4def5df2fa1d5def34c9085d11dea3e08b2a7fa0994ffe61165b14b34ea26180</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.2.2/plasma-workspace-5.2.2.tar.xz">plasma-workspace-5.2.2</a></td>
   <td align="right">6.4MB</td>
   <td><tt>b174136ab7e5ec7190d5ad872e7334245b2e59c2a93e5f53666d155744a90572</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.2.2/plasma-workspace-wallpapers-5.2.2.tar.xz">plasma-workspace-wallpapers-5.2.2</a></td>
   <td align="right">27MB</td>
   <td><tt>97d66cce48114ff4ba2da8cc90aff4df0cd60ff51c615f357665be4a160b5c96</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.2.2/polkit-kde-agent-1-5.2.2.tar.xz">polkit-kde-agent-1-5.2.2</a></td>
   <td align="right">38kB</td>
   <td><tt>f80021aa5ecab11ab1363fa459e30d13a425e81b28060beb8e85d757d9cb79a2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.2.2/powerdevil-5.2.2.tar.xz">powerdevil-5.2.2</a></td>
   <td align="right">406kB</td>
   <td><tt>6dfb852c15c47f48da4708e9b93adc3fda077989bdde2a421dc04def6acfe71e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.2.2/sddm-kcm-5.2.2.tar.xz">sddm-kcm-5.2.2</a></td>
   <td align="right">43kB</td>
   <td><tt>79da669c38858da4595fa5a66a4d28c2f2b4170679e58b61a9278010f474eaf2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.2.2/systemsettings-5.2.2.tar.xz">systemsettings-5.2.2</a></td>
   <td align="right">135kB</td>
   <td><tt>9f91cc2aac47acf194be5c5749b7267a1d368e245d9309dcf305eea6b23e4124</tt></td>
</tr>

</table>
