<footer id="kFooter" class="footer">
  <section id="kPatrons" class="container">
    <h3>{{ i18n "kde-patrons" }}</h3>
    <div class="d-flex flex-wrap flex-md-nowrap justify-content-center">
      <span><img src="/aether/media/patrons/canonical.svg" alt='{{ i18n "patron-alt-canonical" }}'></span>
      <span><img src="/aether/media/patrons/google.svg" alt='{{ i18n "patron-alt-google" }}'></span>
      <span><img src="/aether/media/patrons/suse.svg" alt='{{ i18n "patron-alt-suse" }}'></span>
      <span><img src="/aether/media/patrons/qt-company.svg" alt='{{ i18n "patron-alt-qc" }}'></span>
      <span><img src="/aether/media/patrons/blue-systems.png" alt='{{ i18n "patron-alt-bs" }}'></span>
      <span><img src="/aether/media/patrons/enioka-haute-couture-logo.svg" alt='{{ i18n "patron-alt-ehc" }}'></span>
    </div>
  </section>

  <section id="kFooterIncome" class="container">
    <div id="kDonateForm">
      <div class="center">
        <h2 class="h5 mt-2 mb-3">{{ i18n "donate-to-kde" }} <a href="https://kde.org/community/donations/index.php#money" target="_blank">{{ i18n "why-donate" }}</a></h2>
        <form action="https://www.paypal.com/en_US/cgi-bin/webscr" method="post" onsubmit='return amount.value >= 2 || window.confirm({{ i18n "donation-too-small" }});'>
          <input type="hidden" name="cmd" value="_donations">
          <input type="hidden" name="lc" value="GB">
          <input type="hidden" name="item_name" value="Development and communication of KDE software">
          <input type="hidden" name="custom" value="//kde.org/index/donation_box">
          <input type="hidden" name="currency_code" value="EUR">
          <input type="hidden" name="cbt" value="Return to kde.org">
          <input type="hidden" name="return" value="https://kde.org/community/donations/thanks_paypal">
          <input type="hidden" name="notify_url" value="https://kde.org/community/donations/notify.php">
          <input type="hidden" name="business" value="kde-ev-paypal@kde.org">
          <label class="sr-only" for="donateAmountField">{{ i18n "amount" }}</label><input type="text" name="amount" value="20.00" id="donateAmountField" data-kpxc-id="donateAmountField"> €
          <button type="submit" id="donateSubmit">{{ i18n "donate-via-paypal" }}</button>
        </form>
        <a class="mt-3 d-inline-block h6" href="https://kde.org/community/donations/others" target="_blank">{{ i18n "other-donate" }}</a>
      </div>
    </div>
    <div id="kMetaStore">
      <div class="center">
        <h2 class="h5 mb-3 mt-2">{{ i18n "visit-kde-metastore" }}</h2>
        <p class="h6">{{ i18n "show-love-store" }}</p>
        <a href="https://kde.org/stuff/metastore" class="button">{{ i18n "click-store" }}</a>
      </div>
    </div>
  </section>

  <section id="kLinks" class="container pb-4">
    <div class="row">
      <nav class="col-sm">
        <h3>{{ i18n "products" }}</h3>
        <a href="{{ "/plasma-desktop" | relLangURL }}" hreflang="{{ .Site.LanguagePrefix }}" >{{ i18n "plasma" }}</a>
        <a href="https://apps.kde.org/{{ .Site.LanguagePrefix }}" hreflang="{{ .Site.LanguagePrefix }}" >{{ i18n "kde-applications" }}</a>
        <a href="https://develop.kde.org/products/frameworks/">{{ i18n "kde-frameworks" }}</a>
        <a href="https://plasma-mobile.org/overview/">{{ i18n "plasma-mobile" }}</a>
        <a href="https://neon.kde.org/">{{ i18n "kde-neon" }}</a>
        <a href="https://wikitolearn.org/" rel="noopener" target="_blank">{{ i18n "wikitolearn" }}</a>
      </nav>

      <nav class="col-sm">
        <h3>{{ i18n "develop" }}</h3>
        <a href="https://techbase.kde.org/">{{ i18n "techbase" }}</a>
        <a href="https://api.kde.org/">{{ i18n "api-doc" }}</a>
        <a href="https://doc.qt.io/" rel="noopener" target="_blank">{{ i18n "qt-doc" }}</a>
        <a href="https://inqlude.org/" rel="noopener" target="_blank">{{ i18n "inqlude-doc" }}</a>
        <a href="/goals">{{ i18n "kde-goals" }}</a> 
      </nav>

      <nav class="col-sm">
        <h3>{{ i18n "news-and-press" }}</h3>
        <a href="{{ .Site.LanguagePrefix }}/announcements/">{{ i18n "announcements" }}</a>
        <a href="https://dot.kde.org/">{{ i18n "kde-news" }}</a>
        <a href="https://planet.kde.org/">{{ i18n "planet-kde" }}</a>
        <a href="/screenshots">{{ i18n "screenshots" }}</a>
        <a href="/contact/">{{ i18n "press-contact" }}</a>
        <a href="{{ "/stuff" | relLangURL }}">{{ i18n "stuff" }}</a>
      </nav>

      <nav class="col-sm">
        <h3>{{ i18n "ressources" }}</h3>
        <a href="https://community.kde.org/Main_Page">{{ i18n "community-wiki" }}</a>
        <a href="https://userbase.kde.org/">{{ i18n "userbase" }}</a>
        <a href="/support/">{{ i18n "support" }}</a>
        <a href="/download/">{{ i18n "download-kde" }}</a>
        <a href="/code-of-conduct/">{{ i18n "code-of-conduct" }}</a>
        <a href="/privacypolicy">{{ i18n "privacy-policy" }}</a>
        <a href="/privacypolicy-apps">{{ i18n "privacy-policy-apps" }}</a>
      </nav>

      <nav class="col-sm">
        <h3>{{ i18n "destinations" }}</h3>
        <a href="https://store.kde.org/">{{ i18n "kde-store" }}</a>
        <a href="https://ev.kde.org/">{{ i18n "kde-ev" }}</a>
        <a href="/community/whatiskde/kdefreeqtfoundation">{{ i18n "kde-free-qt" }}</a>
        <a href="https://timeline.kde.org/">{{ i18n "timeline" }}</a>
        <a href="/support/international/">{{ i18n "international-websites" }}</a>
      </nav>
    </div>
  </section>

  <div id="kSocial" class="container kSocialLinks">
    <a class="shareMatrix" href="https://webchat.kde.org/#/rooms/#kde:kde.org" rel="nofollow">{{ i18n "shareMatrix" }}</a>
    <a class="shareFacebook" href="https://www.facebook.com/kde/" rel="nofollow">{{ i18n "post-facebook" }}</a>
    <a class="shareTwitter" href="https://twitter.com/kdecommunity" rel="nofollow">{{ i18n "share-twitter" }}</a>
    <a class="shareDiaspora" href="https://joindiaspora.com/people/9c3d1a454919ef06" rel="nofollow">{{ i18n "share-diaspora" }}</a>
    <a class="shareMastodon" href="https://mastodon.technology/@kde" rel="me nofollow">{{ i18n "share-mastodon" }}</a>
    <a class="shareLinkedIn" href="https://www.linkedin.com/company/29561/" rel="nofollow">{{ i18n "share-reddit" }}</a>
    <a class="shareReddit" href="https://www.reddit.com/r/kde/" rel="nofollow">{{ i18n "share-reddit" }}</a>
    <a class="shareYouTube" href="https://www.youtube.com/channel/UCF3I1gf7GcbmAb0mR6vxkZQ" rel="nofollow">{{ i18n "share-youtube" }}</a>
    <a class="sharePeerTube" href="https://peertube.mastodon.host/accounts/kde/videos" rel="nofollow">{{ i18n "share-peertube" }}</a>
    <a class="shareVK" href="https://vk.com/kde_ru" rel="nofollow">{{ i18n "share-vk" }}</a>
    <a class="shareInstagram" href="https://www.instagram.com/kdecommunity/" rel="nofollow">{{ i18n "share-instagram" }}</a>
  </div>

  <div id="kLegal" class="container">
    <div class="d-flex flex-wrap mb-0 py-3 h6">
      <small lang="en">
        {{ i18n "maintenance-address" | markdownify }} {{ with .GitInfo }}
        {{ $scratch := newScratch }}
        {{ $scratch.Set "hash" (printf "<a href='https://invent.kde.org/websites/kde-org/-/commit/%s'>%s</a>" .Hash .AbbreviatedHash) }}
        {{ i18n "generating-commit" $scratch | markdownify }}
        {{ end }}
      </small>
      <small class="ml-auto text-right">
        {{ i18n "trademark-with-link" | markdownify }} | <a href="https://www.kde.org/community/whatiskde/impressum">{{ i18n "legal" }}</a>
      </small>
    </div>
  </div>
  <script>
    var _paq = window._paq || [];
    /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
    _paq.push(['disableCookies']);
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
      var u="https://stats.kde.org/";
      _paq.push(['setTrackerUrl', u+'matomo.php']);
      _paq.push(['setSiteId', '1']);
      var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
      g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
    })();
  </script>
</footer>
